{% extends "base.html" %}
{% block title %}MPO About{% endblock %}
{% block about_active %} class="active" {% endblock %}
{% block container %}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="leaderboard">
        <h2> AUTOMATED METADATA, PROVENANCE CATALOG, AND NAVIGABLE INTERFACES: </h2>
        <h3> ENSURING THE USEFULNESS OF EXTREME-SCALE DATA </h3><br/>
        <p>This project combines research on integrated metadata, provenance, and ontology storage along with research on user interfaces, including graphical navigation to build tools for real world science. The goal of this research is to create a data model, infrastructure, and a set of tools that support data tracking, cataloging, and integration across a broad scientific domain. Our system would document workflow and data provenance in the widest sense, provide information about the connections and dependences between the data elements and allow human or automatic annotation for any data element. Data, from large-scale experiments and extreme-scale computing is expensive to produce and may be used for high-consequence applications. However, it is not the mere existence of data that is important, but our ability to make use of it.</p>
        <p>These tools would be demonstrated in large fusion sciences collaborations - from which user experience would be collected and lessons-learned tabulated to provide feedback for improved design. To carry out the proposed three-year effort, a closely coordinated, multi-institutional team <strong>[General Atomics (Lead Institution), Lawrence Berkeley National Laboratory (LBNL), and Massachusetts Institute of Technology (MIT)]</strong> has been formed, consisting of researchers from computer science and fusion science.</p>

{% endblock %}
