<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Prototype Implementation of MPO Project">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet">
    <link href="/static/css/jquery.contextMenu.css" rel="stylesheet" type="text/css" /> 
	<link href="/static/css/jquery.dataTables.css" rel="stylesheet" type="text/css" >   
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- <script src="/static/js/jquery.min.js"></script> -->
    <script src="/static/bootstrap/js/jquery.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/static/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/static/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/static/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/static/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/static/bootstrap/js/bootstrap-button.js"></script>
    <script src="/static/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/static/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/static/bootstrap/js/bootstrap-typeahead.js"></script>
    <script src="/static/bootstrap/js/bootstrap-paginator.min.js"></script>
    <script src="/static/bootstrap/js/holder.js"></script>
    
    <script src="/static/js/jquery.ui.position.js" type="text/javascript"></script>
    <script src="/static/js/jquery.contextMenu.js" type="text/javascript"></script> 
	<script src="/static/js/jquery.dataTables.js" type="text/javascript"></script>   
<script>


$(document).ready(function() {
	$("input.copy:text").click(function() { $(this).select();  } );
	$("input.copy:text").css( 'cursor', 'pointer' );
		
	$(".anchorLink").click(function(e) {
		e.preventDefault();
	 	anchorScroll( $(this), $($(this).attr("href")), 100 );		
	}); 
});

function anchorScroll(this_obj, that_obj, base_speed) {
var this_offset = this_obj.offset();
var that_offset = that_obj.offset();
var offset_diff = Math.abs(that_offset.top - this_offset.top);
 
var speed = (offset_diff * base_speed) / 1000;
 
$("html,body").animate({
	scrollTop: that_offset.top - 50 /* -50 to factor in top navigation  */
	}, speed);
} 

xmlToJson = function(xml) {
    var obj = {};
    if (xml.nodeType == 1) {                
        if (xml.attributes.length > 0) {
            obj["@attributes"] = {};
            for (var j = 0; j < xml.attributes.length; j++) {
                var attribute = xml.attributes.item(j);
                obj["@attributes"][attribute.nodeName] = attribute.nodeValue;
            }
        }
    } else if (xml.nodeType == 3) { 
        obj = xml.nodeValue;
    }            
    if (xml.hasChildNodes()) {
        for (var i = 0; i < xml.childNodes.length; i++) {
            var item = xml.childNodes.item(i);
            var nodeName = item.nodeName;
            if (typeof (obj[nodeName]) == "undefined") {
                obj[nodeName] = xmlToJson(item);
            } else {
                if (typeof (obj[nodeName].push) == "undefined") {
                    var old = obj[nodeName];
                    obj[nodeName] = [];
                    obj[nodeName].push(old);
                }
                obj[nodeName].push(xmlToJson(item));
            }
        }
    }
    return obj;
}


function getQueryVariable(variable) {
  var query = window.location.search.substring(1);
  var vars = query.split("&");
  for (var i=0;i<vars.length;i++) {
    var pair = vars[i].split("=");
    if (pair[0] == variable) {
      return pair[1];
    }
  }
}

	function mdsEvent(event,repeat,success_cb,error_cb,userarg) {
	  var req = new XMLHttpRequest();
	  req.open('GET','{{evserver}}/'+event,true);
	  req.responseType = '';
	  req.scb=success_cb;
	  req.fcb=error_cb;
	  req.event=event;
	  req.userarg=userarg;
	  req.repeat=repeat;
	  req.onreadystatechange = function() {
		if (this.readyState == 4) {
		   if (this.status == 200) {
			  console.log("ready");
			  console.log(this.responseXML);
			  console.log(this.responseText);
		  var parser = new DOMParser(); //this is a workaround to know errors in some browsers with responseXML
	
			  var xmlDoc = parser.parseFromString(this.responseText, "application/xml");
			  data = xmlToJson(xmlDoc);
			  console.log(xmlDoc);
			  console.log(data);
	//          data = this.responseText;
			  this.scb(this.event,data,this.userarg);
			  if (this.repeat != 0) {
				 this.open('GET','{{evserver}}/'+event,true);
				 this.send();
				 return;
			  }
		   }
		   else if (req.status == 204) {
			  this.open('GET','{{evserver}}/'+event,true);
			  this.send();
			  return;
		   } else if (req.status != 0) {
			  this.fcb(this.event,req.response,this.userarg);
		   }
		   this.onreadystatechange = function() {}
		}
	  };
	  req.send();
	  return req;
	}


	function qs(search_for) {
		var query = window.location.search.substring(1);
		var parms = query.split('&');
		for (var i=0; i<parms.length; i++) {
			var pos = parms[i].indexOf('=');
			if (pos > 0  && search_for == parms[i].substring(0,pos)) {
				return parms[i].substring(pos+1);;
			}
		}
		return "";
	}
/* $(function(){
      $('#_db').bind('change', function () {
		  var db=$('#_db').val();
		  var formData = $(this).serialize();
		  this.form.submit();
		  //process the form
		 /* $.ajax({
			type 		: 'POST', // define the type of HTTP verb we want to use (POST for our form)
			url 		: '{{ url_for('submit_db') }}', // the url where we want to POST
			data 		: formData, // our data object
			dataType 	: 'json', // what type of data do we expect back from the server
            encode      : true
		  })*/
		  //callback
  		 /* .done(function(data) {
			console.log(data);	
			var url = "https://mpo.gat.com/mpo/home"; // get selected value
          if (url) { // require a URL
              window.location = url; // redirect
          }
		  });*/
		  // stop the form from submitting the normal way and refreshing the page
		 // event.preventDefault();
		 // this.form.submit();
		/*  var url = "https://mpo.gat.com/mpo/home"; // get selected value
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;*/
		  
		  
		  
		  ////
 /* $('[id^=submit_comment]').submit(function(event) {
		var fadeTime = 5000;
		var formData = $(this).serialize();
		//process the form
		$.ajax({
			type 		: 'POST', // define the type of HTTP verb we want to use (POST for our form)
			url 		: '{{ url_for('submit_comment') }}', // the url where we want to POST
			data 		: formData, // our data object
			dataType 	: 'json', // what type of data do we expect back from the server
            encode      : true
		})
		//callback
		.done(function(data) {
			console.log(data);	
			$('#submit_results').show();
			$('#submit_results').html('<div class="alert alert-success" role="alert">Comment submitted.</div>');
			$('#submit_results').fadeOut(fadeTime, function() {
					// Animation complete.
					$('#submit_results').html("");
				});
		});
		// stop the form from submitting the normal way and refreshing the page
		event.preventDefault();
	});
		  /////
		  */

</script>

<style>
input.small{
	font-size: 9px;
	height: 10px;
	margin-top: 3px;
}
.big {
	font-size: 30px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;	
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 10px;
	margin: 0px 0px;
	color: #F60;
}
span.glyphicon-landing {
	font-size: 40px;
}
input.copy{
	width:150px;
}
</style>
    {% block hscripts %}{% endblock %}
  </head>

  <body>
   	{% include 'navigation.html' %}
    
    <div class="container-fluid">
    {% block container %}
    {% endblock %}
      <hr>
      
      <footer>
        <!-- <div><span class="pull-left muted"><a class="muted" href="{{ url_for("about") }}">&copy; MPO Team 2014</a></span><span class="pull-right muted"><a class="muted" href="{{ url_for("index") }}">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="muted" href="{{ url_for("search") }}">Search</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="muted" href="{{ url_for("about") }}">About Us</a> <font color=white>*** {{ db_server }} ***</font></span></div> -->
        <div><span class="pull-left muted"><a class="muted" href="{{ url_for("about") }}">&copy; MPO Team 2015</a></span><span class="pull-right muted"><a class="muted" href="#">About MPO</a> | <a href="{{ url_for("index") }}">Registered Users</a></font></span></div> 
      </footer>

    </div> <!-- /container-fluid -->
  </body>
</html>
