{% extends "base.html" %}
{% block title %}MPO Collections{% endblock %}
{% block hscripts %}
<script>
var debug=0;
var userPaths = [];
var wfAttrib = [];
var ontTreeMenu = "";
var ont_selections = [];
var subTree="";

$(document).ready(function () {

	$("input.user_entry:text").val("");
	$("input.user_entry_wf:text").val("");
	
	var jsonstr = '{{ ont_result|tojson }}';
	var jsondata = jQuery.parseJSON(jsonstr);

	$('#wf_type_sel').on('change', function () {
		var url = $(this).val(); // get selected value
		if (url) { // require a URL
		  window.location = url; // redirect
		}
		return false;
	});

	/**
	*
	* slide toggle workflow list box and search by ontology box
	*/
	var workflowTblHeight = $("#workflow_tbl").height();

	$('#toggle_windows').click(function () {
		/*$("#workflow_tbl").slideToggle( "slow", function() {
			// Animation complete.
		});*/
		if($("#workflow_tbl").height() < workflowTblHeight) {
			$("#workflow_tbl").animate({'height': workflowTblHeight}, 1000);
			$("#query_tbl").slideToggle( "slow", function() {
				// Animation complete.
			});
		}
		else {
			$("#workflow_tbl").animate({'height': '230px'}, 1000);
			$("#query_tbl").slideToggle( "slow", function() {
				// Animation complete.
			});
		}
		
	});


/*
	row = $("<tr></tr>");
   col1 = $("<td>col1</td>");
   col2 = $("<td>col2</td>");
   col3 = $("<td>col3</td>");
   row.append(col1,col2,col3).prependTo("#mytable");  
*/
	//traverse(jsondata,process);
	getMenuTopLevel(jsondata);
	$("#ont_listing").append(ontTreeMenu);
	//$("#wf_attr_list").find('>ul').show();
	//$("#ont_tree").find('>ul').show();
	
		/**
	*function handles comment submit event for each workflow in the list
	*/
	$('[id^=submit_comment_]').submit(function(event) {
		var fadeTime = 5000;
		var formData = $(this).serialize();
		//process the form
		$.ajax({
			type 		: 'POST', // define the type of HTTP verb we want to use (POST for our form)
			url 		: '{{ url_for('submit_comment') }}', // the url where we want to POST
			data 		: formData, // our data object
			dataType 	: 'json', // what type of data do we expect back from the server
            encode      : true
		})
		//callback
		.done(function(data) {
			console.log(data);	
			var prependHtml = '<blockquote id="block_' + data[0].uid  + '" >';
			prependHtml += '<p style="font-size: 12px">' + data[0].content + '</p>';
			prependHtml += '<small>by <cite title="Source Title"> '+ data[0].username +' - ' + data[0].time.substring(0,16) + ' </cite></small>';
			prependHtml += '</blockquote><hr>';
			
			var p_uid=data[0].parent_uid;
			var c_uid=data[0].uid;
			
			$("a#commentCtr"+p_uid).text(parseInt($("a#commentCtr"+p_uid).text())+1);
			
			$("#commentDrop"+p_uid+" div[class='accordion-inner no-border bot-border']").prepend(prependHtml);
			
			//drop comment section if it is not already dropped
			if(!($('#commentDrop'+p_uid).hasClass('in'))) {
				$('#commentDrop'+p_uid).addClass('in');
				$('#commentDrop'+p_uid).css('height','auto');
			}

			$('#submit_results_'+p_uid).show();
			$('#submit_results_'+p_uid).html("Comment submitted.");
			$('#submit_results_'+p_uid).fadeOut(fadeTime, function() {
					// Animation complete.
					$('#submit_results_'+data[0].parent_uid).html("");
				});
			$('#block_' + c_uid).css('background-color', '#ddffdd');
			$('#block_' + c_uid).animate({backgroundColor:"#fff"},fadeTime);
		});
		// stop the form from submitting the normal way and refreshing the page
		event.preventDefault();
	});

});

function addOntPath(parent,subparent,child) {
	tmppath="";
	
	if(parent) {
		var foundp=false;
		for(var i=0;i<userPaths.length;i++) {
			if(userPaths[i].match(parent)) {
				foundp=true;
			}
			else
				foundp=false;
		}
		if(!foundp)
			userPaths.push(parent);
	}
	if(subparent) {
		var foundsp=false;
		
		for(var i=0;i<userPaths.length;i++) {
			if (userPaths[i]===parent) {
				userPaths.splice(i,1);				
			}
			else {
				if(userPaths[i].indexOf(parent+","+subparent) != -1) {
					foundsp=true;
				}
				else
					foundsp=false;
			}
		}
		if(!foundsp)
			userPaths.push(parent+","+subparent);
	}	
	if(child) {
		var foundc=false;
		var index="";
		tmpp=parent+","+subparent;
		for(var i=0;i<userPaths.length;i++) {
			if (userPaths[i]===tmpp) {
				userPaths.splice(i,1);
			}			
			else if (userPaths[i].indexOf(tmpp+",") != -1) {
				index=i;
				if(userPaths[i].indexOf(child) != -1)
					foundc=true;
				else {
					foundc=false;
				}
			}				
		}
		if(!foundc) {
			if (index!=="") {
				userPaths[index]=userPaths[index].concat(" &amp; "+child);
			}
			else
				userPaths.push(parent+","+subparent+","+child);
		}
	}
	
	if(debug) console.log(userPaths);
	
	//var tmpArr=ontologyPathStr.split(",");
	$("#ont_path").empty();
	$("#nav_split").show();
	$("#ont_search_header").show();
	for (var x=0;x<userPaths.length;x++) {
		tmpArr=userPaths[x].split(",");
		$("#ont_path").append('<div>');
		for(k=0;k<tmpArr.length;k++) {
			if((k+1)===tmpArr.length)
				$("#ont_path").append(tmpArr[k]);
			else
				$("#ont_path").append(tmpArr[k] + " > ");
		}
		$("#ont_path").append('</div>');
	}
	//$("#ont_path").html('<div class="muted"><small><em>'+output+'</em></small></div>');
	//$("#ont_path").append('<div class="muted"><small><em>'+ontologyPathStr+'</em></small></div>');
}

function getSpecifiedValue(e,ot_guidv,parent,subparent,child) {
	//check for enter key pressed
    if (e.keyCode == 13) {
		var value=$("#"+ot_guidv).val(); //get user input value
		addOntPath(parent,subparent,child + "=" + value);		
    }
}

function addWfAttrib(eleID,value) {
	if(eleID == "wf_type_val")
		wfAttrib["type"]=value;
	else if(eleID == "wf_name_val")
		wfAttrib["name"]=value;
	else if(eleID == "wf_desc_val")
		wfAttrib["desc"]=value;
	else if(eleID == "wf_user_val")
		wfAttrib["user"]=value;
	else if(eleID == "wf_ln_val")
		wfAttrib["lastname"]=value;
	else if(eleID == "wf_fn_val")
		wfAttrib["firstname"]=value;				
	else if(eleID == "wf_time_val")
		wfAttrib["time"]=value;
	
	$("#wf_path").empty();
	$("#nav_split").show();
	$("#wf_search_header").show();
	var output="";
	for(var key in wfAttrib) {
		if (wfAttrib.hasOwnProperty(key)) {
			output += key+"="+wfAttrib[key] + " & ";
		}
	}
	output=output.substring(0, output.length - 2)
	$("#wf_path").html(output);
}

function showWfMore() {
	$("#wf_attrib").toggle();
	$("#wf_more").toggle();
	$("#wf_hide").toggle();
}

//called with every property and it's value
function process(key,value) {
    if(debug) console.log(key + " : "+value);
}
//recursive loop through json tree
function traverse(obj,func) {
    for (var i in obj) {
        func.apply(this,[i,obj[i]]);
        if (obj[i] !== null && typeof(obj[i])=="object") {
			traverse(obj[i],func);
        }
    }
}

//build first level of ontology tree menu
function getMenuTopLevel(obj) {
	for (var key in obj) {
		if(obj.hasOwnProperty(key)) {
			ontTreeMenu+="<ul>";
			for(var x in obj[key]) {
				if(obj[key][x].hasOwnProperty("data")) {
					//if(debug) { console.log(obj[key][x]["data"].name); }
					var onclickStr = 'onClick="getSubLevel(\''+obj[key][x]["data"].uid+'\');"';
					ontTreeMenu+="<li id=\""+obj[key][x]["data"].uid+"\"><a "+onclickStr+">"+obj[key][x]["data"].name;
					if(obj[key][x].hasOwnProperty("children")) {
						ontTreeMenu+=" <span style=\"font-size:x-small;color:#CCC\">&#9660;</span>"; //add down arrow
					}
					ontTreeMenu+="</a></li>";
				}
			}
			ontTreeMenu+="</ul>";
		}
	}
}

//append list to parent
function getMenuChildren(obj,parent_id) {
	//Object {"Type": {"name": "Type", "parent_uid": "58c19102-b1b7-4f8d-8202-18fde0a88bad", "uid": "ee39ae67-139e-433e-b666-441437faa413"}}
	subTree="<ul>";
	for (var key in obj) {
		if(obj.hasOwnProperty(key)) {
			var onclickStr = 'onClick="getSubLevel(\''+obj[key].uid+'\');"';
			subTree+="<li id=\""+obj[key].uid+"\"><a "+onclickStr+">"+obj[key].name;
			if(checkSubLevel(obj[key].uid))
				subTree+=" <span style=\"font-size:x-small;color:#CCC\">&#9660;</span>"; //add down arrow
			subTree+="</a></li>";
		}
	}
	subTree+="</ul>";
	$("#"+parent_id).append(subTree);
}

function getSubLevel(uid) {
	if(ont_selections.indexOf(uid) > -1) {
		$("#"+uid).find('>ul').slideToggle();
	}
	else {
		ont_selections.push(uid);
		//url="/mpo/ontology/children/"+uid;
		url="{{ url_for("ont_children") }}" + "/" + uid;
		var jqxhr = $.ajax(url)
		.done(function(data) {
			if(!$.isEmptyObject(data)) {
				getMenuChildren(data,uid);
			}
			else {
				//show attributes
				//alert("empty");
			}
		});
	}
}

function getAttrib(uid) {
	if(ont_selections.indexOf(uid) > -1) {
		//$("#"+uid).slideToggle();
		$("#"+uid).find('>ul').slideToggle();
	}
	else {
		ont_selections.push(uid);
		//url="/mpo/ontology/children/"+uid;
		url="{{ url_for("ont_children") }}" + "/" + uid;
		var jqxhr = $.ajax(url)
		.done(function(data) {
			getMenuChildren(data,uid);
		});
	}
}

function checkSubLevel(uid) {
	//url="/mpo/ontology/children/"+uid;
	url="{{ url_for("ont_children") }}" + "/" + uid;
	var tmp1=0;

	/*var jqxhr = $.ajax(url).done(function(data) {
		console.log(data);
		if(!$.isEmptyObject(data)) {
			subTree+=" <span style=\"font-size:x-small;color:#CCC\">&#9660;</span>";
			console.log(subTree);
		}
	});*/
	var jqxhr = $.ajax({
		url: url,
		async: false
	});
	
	jqxhr.done(function(data) {
		if(!$.isEmptyObject(data)) {
			subTree+=" <span style=\"font-size:x-small;color:#CCC\">&#9660;</span>";
		}
	});	
}

//workflow id, numq => quality value (1-4)
function setWfQuality(wfid,numq) {
	//ajax.post --> serialized json

	//star images info
	var numstars=4;
	var img=["star_empty.png","star.png"];
	var imgpath = "static/img/";
	var imgstr="_img";

	//POST data to API route
	var url="{{ url_for('ontology_instance') }}";
	var ont_path='/Generic/Status/quality';
	var parent_uid=wfid;
	var user="None";
	var postData = {'parent_uid': parent_uid, 'value': numq.toString(), 'path': ont_path, 'user': user };

	var jqxhr = $.ajax({
		type: "POST",
		url: url,
		data : JSON.stringify(postData),
		contentType: 'application/json'
	});
	
	//remove pointer cursor class
	$('#'+wfid+'_quality').removeClass('set_quality');
	

	//ajax request returns uid of 'quality' instance
	jqxhr.done(function(data) {
		console.log(data);
	});

	//set star image src according to star clicked
	for(i=1;i<=numstars;i++) {
		var img_element='#'+wfid+imgstr+i;
		if(i<=numq)
			$(img_element).attr('src', imgpath+img[1]); //star on
		else
			$(img_element).attr('src', imgpath+img[0]); //star off
		$(img_element).removeAttr('onclick'); //remove onclick functionality
	}
}



</script>

{% endblock %}
{% block collect_active %} class="active" {% endblock %}
{% block container %}
    <div class="row-fluid">  
    	<!-- workflow table list span -->
		<div class="span12"><br>
		{% if results %}
        	<br />
        	<a href="/mpo/collections"><small>&lt;&lt; Back to list of collections</small></a>
        	<h4>MPO Collection: {{ coll_name }} <span class="glyphicon glyphicon-user"></span><small><strong>{{ coll_username }}</strong> - {{ coll_time }}</small></h4>
            <b>Description:</b> {{ coll_desc }}
        	<div id="tbl">
            <!-- workflow list table -->
            <table class="main table table-hover table-striped" id="workflow_table">
                <tr>
                <th width="2%">&nbsp;</th><th width="25%">Name</th><th width="35%">Description</th><th width="12%">Creation Time</th><th width="8%">Comments</th><th width="3%"></th>
              </tr>
    		{% for item in results %}
                <div id="accordion2" class="accordion">
                <tr>
                    <td><span class="muted"><em><small>{{ wf_number }}</small></em></span></td>
                        
                  <td>{% if item.type == "workflow" %}
                        <img src="/static/img/images/_icon_workflow.png"/>  
                   		<a href="{{ url_for("connections", wid=item.uid) }}">{{ item.citem[0].name }}</a> <span class="muted"><br /><em><small>{{ item.citem[0].username }} / {{ item.citem[0].type }} / {{ item.citem[0].composite_seq }}</em></span><br />
							{% elif item.type == "collection" %}
                        <span class="icon-list-alt"></span>
                        <a href="{{ url_for("collections", wid=item.uid) }}">{{ item.citem[0].name }}</a> <span class="muted"><br /><em><small>{{ item.citem[0].username }}</em></span><br />
                        	{% elif item.type == "dataobject" %}
                        <img src="/static/img/images/_icon_dataobject.png"/>  
                    	<a href="{{ url_for("dataobject") }}/{{ item.uid }}">{{ item.citem[0].name }}</a>  <span class="muted"><br /><em><small>{{ item.citem[0].uri }}</small></em></span><br />
                        	{% elif item.type == "dataobject_instance" %}
                        <img src="/static/img/images/_icon_dataobject.png"/>  
                    	<a href="{{ url_for("dataobject") }}/{{ item.citem[0].uid }}">{{ item.name }}</a>
                        <span class="muted"><br /><em><small>{{ item.related }}</small></em></span>
                       
                      		{% endif %}
                    </td>
                    </td>
                    	
                  <td>
	                  {% if item.type == "dataobject_instance" %}
                      <small>from  
                        <img src="/static/img/images/_icon_workflow.png"/> 
                        <a href="{{ url_for("connections") }}/{{ item.citem[0].work_uid }}" > {{ item.wf_cid }}</a></small><br />
                  		{{ item.description }} <br />
                        <small><strong>UID: </strong></small><input size="2" type="text" value="{{ item.uid }}" class="small copy" readonly />
                      {% else %}
                  		{{ item.citem[0].description }} <br />
                        <small><strong>UID: </strong></small><input size="2" type="text" value="{{ item.citem[0].uid }}" class="small copy" readonly />
                      {% endif %} <br />
                      
                      
                  </td>
                    	
                  <td class="xsmall">
                  {% if item.type == "dataobject_instance" %}
                   	{{ item.time }} 
                  {% else %}
                   	{{ item.citem[0].time }} 
                  {% endif %}              
                  </td>
                    	
                    <!-- <td>{{ item.username }}</td> -->
                    <td>
                <div class="accordion-group">
                  <div class="accordion-heading">
                <a href="#commentDrop{{ item.uid }}" id="commentCtr{{ item.uid }}" class="btn btn-mini btn-info" data-parent="#accordion2" data-toggle="collapse">
                  {% if item.num_comments %}
                    {{ item.num_comments }}
                  {% else %}
                    0
                  {% endif %}
                </a>
                &nbsp;<a href="#submitComment_{{ item.uid }}" class="btn btn-mini btn-success" data-parent="#accordion2" data-toggle="collapse">+</a>
                  </div>
                </div>
                </td>               
                <td>
                	<!-- <a href="#"title="remove workflow from collection">[-]</a> -->
                </td>
              </tr>
              <tr>
            <td colspan="8" class="comments"> 
              <div class="accordion-body collapse" id="submitComment_{{ item.uid }}">
                <div class="accordion-inner no-border bot-border">                
                  <form id="submit_comment_{{ item.uid }}">
                <div><input type="hidden" name="parent_uid" value="{{ item.uid }}" /></div> 
                <div><textarea rows="2" class="span12" name="content"></textarea>&nbsp;&nbsp;<button type="submit" class="btn btn-mini">Submit</button></div>
                  </form>
                </div>
              </div>
            </td>
              </tr>	      
              <!-- Comment Drop -->
              <tr>
                  <td colspan="8" class="comments"> 
                <div class="accordion-body collapse {{ item.show_comments }}" id="commentDrop{{ item.uid }}">
                  <div class="accordion-inner no-border bot-border">
                  {% for i in item.comments %}
                <blockquote>
                  <p style="font-size: 12px">{{ i.content }}</p>
                  <small>by <cite title="Source Title">{{i.username}} {% if i.time %} - {{i.time}} {% endif %}</cite></small>
                </blockquote>
                <hr>
                  {% endfor %}
                  </div>
                </div>
              </td>
              </tr>
              <!-- END Comment Drop -->
            </div> <!-- end accordian -->
     	{% endfor %}
		</table>
	{% endif %}
    		</div> <!--end workflow table div -->      
    	</div> <!-- end span9 -->    
    </div> <!-- end row fluid -->

{% endblock %}
