{% extends "base.html" %}

{% block title %}MPO Workflow Detail{% endblock %}

{% block hscripts %}
<script type="text/javascript" src="/static/js/svg-pan-zoom.js"></script> 
<!-- <script type="text/javascript" src="/static/js/jquery-ui.js"></script> -->
<script type="text/javascript" src="/static/js/jquery.slimscroll.min.js"></script>
<style>
#svg_loading {
	background:url(/static/img/ajax-loader.gif) no-repeat center center;
	height:60px;
}
#svg {
	background-color:#fff;
	overflow: hidden;
}

.logbook_row {
	background-color:#fff;
}

.comment_table {
	border: 1px solid #ddd;
	background-color: #fff;
}

</style>
<script>
var nodeUIDs = new Array(); //store node UIDs for comparison with new node UIDs added after page load
var wid = ""; //store workflow wid
var lastUpdate = ""; //store last update time
var rightScrollHeight='700px';
var clickedLinkedWorkflows=[];

function closepop(id) {
	$('#'+id).popover('hide');
}

function showComments() {
	$( "#node_comments" ).toggle();
}

function inArray(value, array) {
  return array.indexOf(value) > -1;
}

function failure_cb(event,msg,userarg) {
//what to do on failure (status !=200 or 204) eg event server down.
  alert(msg);
}

function success_cb(event,data,userarg) { 
//define your callback here.
//you probably want JSON.parse(data.event.data.text["#text"]) which selects the string 
//serialized json object containing the mpo event payload that is contained in the larger
// json object that is parsed out of XMLHTTPrequest and converts it to a local JSON object
// that can be used.
// You may want to define different callbacks for different events you want to monitor
// or have logic on the value of 'event'
	if (typeof(data.event) !== "undefined") {
		var tmpDataObj=JSON.parse(data.event.data.text["#text"]);
		//var tmpDataObj=jQuery.parseJSON(data.event.data.text["#text"]);
		
		var wfID="";
		for (var key in tmpDataObj) {
			if(key=="parent_uid")
				wfID=tmpDataObj[key];
			else if (key=="work_uid")
				wfID=tmpDataObj[key];
		}
	}
	 
	if(userarg==wfID)
		buildPageElements(wfID);
}

//handles the svg workflow plot functionality
$(document).ready(function () {
	var $window = $(window);
	//Process SVG
	$("#svg_loading").hide();
	wf_desc="{{ wid_info[0].description }}";	
	var jsondata = '{{ nodes|tojson }}';  //single quote issue
	var tmp_str=jsondata.replace(/&#34;/g,'"');
	tmp_str=tmp_str.replace(/(\r\n|\n|\r)/g,'<br/>');
	tmp_str=tmp_str.replace(/&#39;/g,'\''); //replace single quote with \'
	tmp_str=tmp_str.replace(/\\/g, "\\\\");  //replace single backslash with double \\
	var jdata=tmp_str;

	var dataObjs=jQuery.parseJSON(jdata);
	
	lastUpdate=new Date(1900,00,01); //past date for demo
	//lastUpdate=new Date(); //GET CURRENT DATE ON PAGE LOAD for newest added element comparison

	var nodeCount=0;
	var dataElements = {}; //for name - desc in popover
	
	for (var key in dataObjs) {
	  if (dataObjs.hasOwnProperty(key)) {
		var tmp = dataObjs[key];
		nodeUIDs[nodeCount]=tmp['uid'];
		for(var j in tmp) {
			if(j=="data") {
				var tmp2=tmp[j];
				var tmp3=tmp2[0];
				dataElements[tmp['name']]="";
				if(tmp3['description'])
					dataElements[tmp['name']]+=tmp3['description'];
				if(tmp3['time']) {
					dataElements[tmp['name']]+= "<div><small>"+tmp3['time']+"</small></div>";
					//store latest workflow update time
					tmpDateTime=new Date(tmp3['time'].replace(" ","T"));
					if(tmpDateTime > lastUpdate)
						lastUpdate=tmpDateTime
				}
				if(tmp3['uri']) {
					var fill=false;
					dataElements[tmp['name']]+="<ul><li><small>uri: "+tmp3['uri']+"</small>";
					if(tmp3['wf_link']) {
						//dataElements[tmp['name']]+="<ul class=\"wf_links\"><li><small><em>Linked Workflows:</em></small>"; 
						//dataElements[tmp['name']]+="<ul>";
						for (var cnt in tmp3['wf_link']) {
							if (tmp3['wf_link'][cnt]['work_uid'] != "{{ wid }}") {
								fill=true;
								//dataElements[tmp['name']]+="<li><small><a href=\"/connections/"+tmp3['wf_link'][cnt]['work_uid']+"\">"+tmp3['wf_link'][cnt]['work_uid']+"</a></small></li>";
							}
						}
						//dataElements[tmp['name']]+="</ul></li></ul>"; 
						if(fill)
							fillSVGElement(tmp['uid']);
					}
					dataElements[tmp['name']]+="</li>";
					dataElements[tmp['name']]+="<li><small>uid: "+tmp3['uid']+"</small></li>"; 
				}
			}
			else if(j=="metadata") {
				var tmp2=tmp[j];
				if(dataElements[tmp['name']])
					dataElements[tmp['name']]=dataElements[tmp['name']]+"<li><small>metadata:</small><ul>";
				else
					dataElements[tmp['name']]="<ul><li><small>metadata:</small><ul>";
				for (var z in tmp2)
				{
					var tmp3=tmp2[z];
					if(tmp3['key']) {
						dataElements[tmp['name']]=dataElements[tmp['name']] + "<li><small>" + tmp3['key'] + ': ' + tmp3['value'] + "</small></li>";
					}
				}
				dataElements[tmp['name']]=dataElements[tmp['name']]+"</ul></li></ul>";
			}
		}
		nodeCount++;
	  }
	}
	
	$("#last-updated").html(lastUpdate.toLocaleString());
		
	var lastPopover='';
	var currentPopover='';

	//$("#test").popover({title: "this is a popover", html: true, container: 'body', content: '<ul><li><a href="#">metadata 1</a></li><li>metadata 2</li><li>metadata 3</li><li>add comment</li></ul>', trigger: 'hover'});
	//checks and adjusts svg width/height if needed
	var workflowWidth=$("#svg").width();

	var w =	document.getElementsByTagName("svg").item(0).getAttribute("width");	
	var h =	document.getElementsByTagName("svg").item(0).getAttribute("height");
	var width=parseInt(w.replace("pt",""));
	var height=parseInt(h.replace("pt",""));
	rightScrollHeight=h.replace("pt","px");
	
	//adjust for pan/zoom functionality
	document.getElementsByTagName("svg").item(0).removeAttribute("viewBox");

	//var maxWfHeight=500;
	if(width > workflowWidth) {
		var hratio=workflowWidth/width;
		var vratio=hratio;
		var wnew=workflowWidth;
		var hnew=Math.round(height*(vratio-.15));
                if (hnew < 300) { hnew = 300; hratio=0.5; vratio=0.5; }
                if (wnew < 300) { hnew = 300; hratio=0.5; vratio=0.5; }
		/*if(hnew > 500) {
			hnew=500;
			hratio=.8;
			vratio=.8;
		}*/
		//var hnew=460;
		rightScrollHeight=hnew.toString()+"px";
		$("#svg_loading").width(wnew).height(hnew);
		w=wnew.toString() + "pt";
		h=hnew.toString() + "pt";
		rightScrollHeight=hnew.toString() + "px";
		document.getElementsByTagName("svg").item(0).setAttribute("width",w);
		document.getElementsByTagName("svg").item(0).setAttribute("height",h);
		//document.getElementById("graph1").transform.baseVal.getItem(0).setScale(".85",".85"); //VERSUS ORIGINAL SIZE 1166 wide x 712 high**
		document.getElementById("graph1").transform.baseVal.getItem(0).setScale(hratio.toString(),vratio.toString()); //size ratio of workflow on load compared to original size
	}
	//end svg size adjust

	/*$( window ).resize(function() {

	});*/

	initZoomPan();
        
	
	//get list of nodes for svg xml tag "g" w/ class "node"
	var nodelist = document.querySelectorAll("g.node");
			
	//parse nodelist object and add click event function to each node (w/ respective data)
	for (var key in nodelist) {
	  if (nodelist.hasOwnProperty(key)) {
		var node=nodelist[key];
		var id="";
		
		var sub_content="";
		var popcontent="";
		//get id of "g" element of class=nodes
		if(key==0) {
			id="node1";
			wid=node.childNodes[0].textContent;
			sub_content=wf_desc;
		}
		else if (typeof(node.childNodes) !== "undefined")
			id=node.childNodes[0].textContent;
		
		//create new ID attribute for <text>
		if (typeof(node.childNodes) !== "undefined") {
			node.childNodes[2].setAttribute("fill","white"); //shapes fill color
			node.childNodes[4].setAttribute("style",'fill:rgb(0,76,153);cursor:pointer;'); //text styles
			node.childNodes[4].setAttribute("id","text_" + id); //id links popover menu
			//node.childNodes[4].id = "text_" + id;
			if(typeof(dataElements[node.childNodes[4].textContent]) !== 'undefined') {
				sub_content = dataElements[node.childNodes[4].textContent];
				popcontent='<div><span class="pull-right">&nbsp;&nbsp;<a class="label" onclick="closepop(\'text_'+id+'\')" >x</a></span><span><strong>'+ node.childNodes[4].textContent +'</strong><br/><small><em>' + sub_content;	
			}
		}

		if(id=="node1")
			popcontent=popcontent + '</em></small></span></div><hr/><div><small><a href="#modal_'+wid+'" data-toggle="modal">view/add comments</a></small></div>';
		else
			popcontent=popcontent + '</em></small></span></div><hr/><div><small><a href="#modal_'+id+'" data-toggle="modal">view/add comments</a></small></div>';
		
		$("#text_"+id).popover({container:'body', html: true, content: popcontent, trigger: 'manual'});
		//on click 'text' event for each element -- toggle popover menu
		$("#text_"+id).click(function(e){
				//closes last clicked popover and opens the new one that was clicked
				if(currentPopover.length==0) {					
					currentPopover=e.target.id;
				}
				else {
					lastPopover=currentPopover;
					currentPopover=e.target.id;
				}
				if(lastPopover == currentPopover) { //close same popover on 2nd click
					closepop(lastPopover);
					$("#acc_"+lastPopover.substring(5)).collapse('hide');
					currentPopover='';
					lastPopover='';
				}
				else {  // close other popover and open new one
					closepop(lastPopover);
					$(this).popover('show');
					$("#acc_"+lastPopover.substring(5)).collapse('hide');
					$("#acc_"+e.target.id.substring(5)).collapse('show');
				}
				
			});
	  }
	}

	$('.expandcollapse').click(function () {
        if ($(this).html() == "<i class=\"icon-plus-sign\"></i> Expand All") {
            $('#acc-container .collapse:not(.in)').each(function () {
                $(this).collapse("toggle");
            });
            $(this).html("<i class=\"icon-minus-sign\"></i> Collapse All (scroll)");
        }
        else {
            $('#acc-container .collapse.in').each(function () {
                $(this).collapse("toggle");
            });
            $(this).html("<i class=\"icon-plus-sign\"></i> Expand All");
        };
    });
	
	$('#acc-container').slimScroll({
		//height: 'auto',
		height: '700px',
		position: 'right',
		alwaysVisible: true,
		railOpacity: 0.1,
		distance: '0px',
		color: '#ccc',
		wheelStep: 5
	});

	hideToggleSubLists();
	hideLinkedWfLoader();

	//when [+]linked workflows is clicked, convert Workflow IDs to composite names / descriptions
	$('.wf_links li').click(function () {
		var thisID=$(this).attr("id");
		
		if(clickedLinkedWorkflows.indexOf(thisID) == -1) {
			clickedLinkedWorkflows.push(thisID);
			var wfID_list = $(this).find('li');
			//var numWfLinks=wfID_list.length;
			//$("#"+thisID.substring(3)+"_loader").show();

			wfID_list.each(function(index) {
				var current=$(this);
				var wfID=$( this ).text();
				var url="{{ url_for("workflow") }}/"+wfID;
				var jqxhr = $.getJSON( url, function( data ) {
					var text=data[0]["username"]+"/"+data[0]["name"]+"/"+data[0]["composite_seq"]+" - "+data[0]["description"];
					var linked_text="<a href=\"{{ url_for("connections") }}/"+data[0]["uid"]+"\"><small><em>"+text+"</em></small></a>"
					current.html(linked_text);
				})
				/*if((index+1)==numWfLinks)
					$("#"+thisID.substring(3)+"_loader").hide();*/
			});
		}			
    });


	//var mpoDemo = setInterval(function(){buildPageElements()},5000);
	
	//mdsplus event listener
	//e=mdsEvent(getQueryVariable('event'),1,success_cb,failure_cb,42);
	e=mdsEvent('mpo_dataobject',1,success_cb,failure_cb,wid);
	e=mdsEvent('mpo_activity',1,success_cb,failure_cb,wid);
	
		/**
	*function handles comment submit event for each workflow in the list
	*/
	$('[id^=submit_comment]').submit(function(event) {
	//$('id=submit_comment').submit(function(event) {
		var fadeTime = 5000;
		var formData = $(this).serialize();
		//process the form
		$.ajax({
			type 		: 'POST', // define the type of HTTP verb we want to use (POST for our form)
			url 		: '{{ url_for('submit_comment') }}', // the url where we want to POST
			data 		: formData, // our data object
			dataType 	: 'json', // what type of data do we expect back from the server
            encode      : true
		})
		//callback
		.done(function(data) {
			console.log(data);	
			/*HERE */
			/*var appendHtml = '<li>';
			appendHtml += data[0].content+' | <em>by '+data[0].username +' - ' + data[0].time.substring(0,16);
			appendHtml += '</li>';
			
			var p_uid=data[0].parent_uid;
			var c_uid=data[0].uid;
			
			alert("parent: "+p_uid); //4b177693-ea36-4b67-9efd-1cd4b2914733
			alert("child+ "+c_uid); //47ca45ba-97ce-4f0a-a67d-59ec5c722f54
			
			$("#commentDrop"+p_uid+" div[class='accordion-inner no-border bot-border']").prepend(prependHtml);
			
			//drop comment section if it is not already dropped
			if(!($('#commentDrop'+p_uid).hasClass('in'))) {
				$('#commentDrop'+p_uid).addClass('in');
				$('#commentDrop'+p_uid).css('height','auto');
			}*/

			$('#submit_results').show();
			$('#submit_results').html('<div class="alert alert-success" role="alert">Comment submitted.</div>');
			$('#submit_results').fadeOut(fadeTime, function() {
					// Animation complete.
					$('#submit_results').html("");
				});
		/*	$('#block_' + c_uid).css('background-color', '#ddffdd');
			$('#block_' + c_uid).animate({backgroundColor:"#fff"},fadeTime);*/
			/*UNTIL HERE*/
		});
		// stop the form from submitting the normal way and refreshing the page
		event.preventDefault();
	});
	// end of Submit comment
	//convert linked Workflow UIDs to compID and description.  css class: linkedwf
}); //end document.ready
function hideToggleSubLists() {
	$('.wf_links li').click(function(ev) {
		$(this).find('>ul').slideToggle();
		ev.stopPropagation();
	});

	$('.wf_links li').find('>ul').hide();
}

function hideLinkedWfLoader() {
	$("span[id$='_loader']").hide();
}

function fillSVGElement(uid) {
	var svgElement = document.getElementById(uid);
	if(svgElement) {
		var childs = svgElement.childNodes;
		childs[2].style.fill="#ccffff";
	}
}

function buildPageElements(wfID) {

	var svg_h="";
	var url="";
	$("#svg").empty();
	//url="/mpo/graph/"+wfID+"/svg";
	url="{{ url_for("graph") }}/"+wfID+"/svg";
	
	var jqxhr_svg = $.get( url, function( data ) {
		$("#svg").hide();
		$("#svg_loading").show();
		$("#svg").html(data);
	});

	jqxhr_svg.done(function() {
		//url="/mpo/nodes/"+wfID;
		url="{{ url_for("nodes") }}/"+wfID;
		var dataObjs={};
		var wfid=wfID;
		var jqxhr_nodes = $.getJSON( url, function( data ) {
			dataObjs=data;
		});
		//wait for xhtmlhttprequest to finish before proceeding (fixes right-side append issues)
	
		jqxhr_nodes.done(function() {
			
			///// build nodelist UI elements /////
			lastUpdate=new Date(1900,00,01); //past date for comparison --for demo only
			
			var dataElements = {}; //for name - desc in popover
			
			for (var key in dataObjs) {
			  if (dataObjs.hasOwnProperty(key)) {
				var tmp = dataObjs[key];

				//new element attributes
				var obj_uid="";
				var newElement=""; //html text
				var obj_name="";
				var obj_time="";
				var obj_uri="";					

				//check if uid exists in current UID array...if not add new element
				if((!inArray(tmp['uid'], nodeUIDs)) && (tmp['uid']!=wfid)) {
					obj_uid=tmp['uid'];
					nodeUIDs.push(obj_uid);
					obj_name=tmp['name'];
					if (tmp.hasOwnProperty("data")) {
						obj_time=tmp["data"][0]["time"];
						obj_uri=tmp["data"][0]["uri"];
					}
					//$("#div_"+obj_uid).remove();
					newElement+='<div id="div_"' + obj_uid +'"><a id="aid_' + obj_uid + '" href="#acc_' + obj_uid + '" data-toggle="collapse">' + obj_name + '</a><span class="muted"><small><em> - ' + obj_time + '</em></small></span>';
					newElement+='<div class="accordion-body collapse" id="acc_' + obj_uid + '">';
					newElement+='<div class="accordian-inner no-border">';
					newElement+='<ul>';
					newElement+='<li>'+obj_name+'</li>';
					newElement+='<li>time: '+obj_time+'</li>';
					newElement+='<li>uri: '+obj_uri+'</li>';

					if (tmp.hasOwnProperty("metadata")) {
						newElement+='<li>Metadata:</li><ul>';
						for (var z in tmp['metadata']) {
							var md_obj=tmp['metadata'][z];
							if(md_obj['key']) {
								newElement += "<li>" + md_obj['key'] + ': ' + md_obj['value'] + "</li>";
							}
						}
						newElement+='</ul>';
					}
					
					newElement+='</ul>';		
					newElement += '</div>';
					
					$("#acc-container").append(newElement);
					$("#aid_"+obj_uid).addClass("alert-success");
					$("#aid_"+obj_uid).removeClass("alert-success",5000);								
				}//if((!inArray(tmp['uid'], nodeUIDs)) && tmp['uid']!=wid)
				
				for(var j in tmp) {
					if(j=="data") {
						var tmp2=tmp[j];
						var tmp3=tmp2[0];
						dataElements[tmp['name']]="";
						if(tmp3['description'])
							dataElements[tmp['name']]+=tmp3['description'];
						if(tmp3['time']) {
							dataElements[tmp['name']]+= ' - ' + tmp3['time'];
							//store latest workflow update time
							tmpDateTime=new Date(tmp3['time'].replace(" ","T"));
							if(tmpDateTime > lastUpdate) {
								lastUpdate=tmpDateTime
								$("#last-updated").html(lastUpdate.toLocaleString());
								$("#last-updated").addClass("alert-success text-success").css("font-weight","bold");
								$("#last-updated").removeClass("alert-success",10000);								
							}
						}
						if(tmp3['uri'])
							dataElements[tmp['name']]+= '<br/><em>uri</em>: ' + tmp3['uri'];
					}
					else if(j=="metadata") {
						var tmp2=tmp[j];
						if(dataElements[tmp['name']])
							dataElements[tmp['name']]=dataElements[tmp['name']]+"<div>metadata:<ul>";
						else
							dataElements[tmp['name']]="<div>metadata:<ul>";
						for (var z in tmp2)
						{
							var tmp3=tmp2[z];
							if(tmp3['key']) {
								dataElements[tmp['name']]=dataElements[tmp['name']] + "<li>" + tmp3['key'] + ': ' + tmp3['value'] + "</li>";
							}
						}
						dataElements[tmp['name']]=dataElements[tmp['name']]+"</ul></div>";
					}
				}//end for
				
			  }//end if (dataObjs.hasOwnProperty(key))
			  
				//add css styles to dynamic
				$(".accordian-inner.no-border ul").css("font-size","small");
				//$(".accordian-inner.no-border ul").addClass("alert-success");
				//$(".accordian-inner.no-border ul").removeClass("alert-success",10000);
			}//end for

		
			///// build svg node UI elements /////
			var lastPopover='';
			var currentPopover='';
	
			//checks and adjusts svg width/height if needed
			var workflowWidth=500;
	
			var w =	document.getElementsByTagName("svg").item(0).getAttribute("width");	
			var h =	document.getElementsByTagName("svg").item(0).getAttribute("height");
			var width=parseInt(w.replace("pt",""));
			var height=parseInt(h.replace("pt",""));
			
			//adjust for pan/zoom functionality
			document.getElementsByTagName("svg").item(0).removeAttribute("viewBox");
			
			if(width > workflowWidth) {
				var wnew=workflowWidth;
				var hnew=Math.round(height*(workflowWidth/width));
				$("#svg_loading").width(wnew).height(hnew);
				w=wnew.toString() + "pt";
				h=hnew.toString() + "pt";
				document.getElementsByTagName("svg").item(0).setAttribute("width",w);
				document.getElementsByTagName("svg").item(0).setAttribute("height",h);
				document.getElementById("graph1").transform.baseVal.getItem(0).setScale(".56",".56");
			}
			//end svg size adjust
			initZoomPan();
			//get list of nodes for svg xml tag "g" w/ class "node"
			var nodelist = document.querySelectorAll("g.node");
					
			//parse nodelist object and add click event function to each node (w/ respective data)
			for (var key in nodelist) {
			  if (nodelist.hasOwnProperty(key)) {
				var node=nodelist[key];
				var id="";
				var sub_content="";
				var popcontent="";
				//get id of "g" element of class=nodes
				if(key==0) {
					id="node1";
					wid=node.childNodes[0].textContent;
					sub_content=wf_desc;
				}
				else if (typeof(node.childNodes) !== "undefined")
					id=node.childNodes[0].textContent;
				
				//create new ID attribute for <text>
				if (typeof(node.childNodes) !== "undefined") {
					node.childNodes[2].setAttribute("fill","white"); //shapes fill color
					node.childNodes[4].setAttribute("style",'fill:rgb(0,76,153);cursor:pointer;'); //text styles
					node.childNodes[4].setAttribute("id","text_" + id); //id links popover menu
					//node.childNodes[4].id = "text_" + id;
					if(typeof(dataElements[node.childNodes[4].textContent]) !== 'undefined') {
						sub_content = dataElements[node.childNodes[4].textContent];
						popcontent='<div><span class="pull-right">&nbsp;&nbsp;<a class="label" onclick="closepop(\'text_'+id+'\')" >x</a></span><span><strong>'+ node.childNodes[4].textContent +'</strong><br/><small><em>' + sub_content;
					}
				}
				if(id=="node1")
					popcontent=popcontent + '</em></small></span></div><hr/><div><small><a href="#modal_'+wid+'" data-toggle="modal">view/add comments</a></small></div>';
				else
					popcontent=popcontent + '</em></small></span></div><hr/><div><small><a href="#modal_'+id+'" data-toggle="modal">view/add comments</a></small></div>';
				
				$("#text_"+id).popover({container:'body', html: true, content: popcontent, trigger: 'manual'});
				//on click 'text' event for each element -- toggle popover menu
				$("#text_"+id).click(function(e){
						//closes last clicked popover and opens the new one that was clicked
						if(currentPopover.length==0) {					
							currentPopover=e.target.id;
						}
						else {
							lastPopover=currentPopover;
							currentPopover=e.target.id;
						}
						if(lastPopover == currentPopover) { //close same popover on 2nd click
							closepop(lastPopover);
							$("#acc_"+lastPopover.substring(5)).collapse('hide');
							currentPopover='';
							lastPopover='';
						}
						else {  // close other popover and open new one
							closepop(lastPopover);
							$(this).popover('show');
							$("#acc_"+lastPopover.substring(5)).collapse('hide');
							$("#acc_"+e.target.id.substring(5)).collapse('show');
						}
						
					});
	
			  }
			}
			$("#svg_loading").hide();
			$("#svg").show();
			///// end build svg node UI elements /////	
							
		}); //end nodes.done jqhxr function
		

	});		
}
</script>
{% endblock %}
{% block container %}
    <div class="row-fluid">  
    	<!-- workflow table list span -->
		<div class="span12">
        <h4> {{ wid_info[0].username }} / <font color="#004B82">{{ wid_info[0].type }}</font> / {{ wid_info[0].composite_seq }} <small style="padding-left: 10px"> <font color="#87A6B9"><em>{{ wid }}</em></font> -  {{ wid_info[0].username }} - <span id="last-updated"></span></small> </h4>    
        <strong>Description:</strong> {{ wid_info[0].description }}
     
        <div class="accordian-heading">
                                <span style="float:right"><span class="icon-comment"></span><a href="#add_{{ wid }}" data-toggle="collapse"><small> Add Comment</small></a></span></div>
                                <div class="accordion-body collapse" id="add_{{ wid }}">
                                    <div class="accordion-inner no-border">
                                    <span id="submit_results"></span>
                                      <form id="submit_comment">
                                      		<input type="hidden" value="{{ wid }}" name="wf_id">
                                            <select name="parent_uid">
                                            	<option value="">select a workflow object...</option>
                                            {% for obj in nodes.iteritems() %}
                                                {% for n in obj %}
                                                	{% if n.name %}
                                                    <option value="{{ n.uid }}">{{ n.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                             {% endfor %}
                                             </select>
                                        <div><textarea rows="2" class="span11" name="content"></textarea>&nbsp;&nbsp;<button type="submit" class="btn btn-mini">Submit</button></div>
                                      </form>
                                    </div>
                                </div>
                            </div>
	</div>
    
    <div class="row-fluid">
    	<div class="span12">
        	<div class="row-fluid">
                <div id="left-container" class="span7">
                    <div>
                    	<small><a href="{{ url_for("graph", wid=wid) }}/jpg"><span id="img" class="label label-info">jpg</span></a></small>
                    </div>
                    <div class="row-fluid">
					<div id="svg_loading">&nbsp;</div>
	                    <div id="svg">
	                    <!-- svg start -->
	                    {{ svg|safe }}
	                    <!-- svg end -->
					    <script>
					      // initialize zooming and panning on svg element
					      function initZoomPan() {
					      	svgPanZoom.init({'selector': 'svg', });
					      	}
					    </script>                    
	                    </div>
                    </div>

        <!--       <div id="node_comments">
                        <div id="accordion2" class="accordion">
                        <div class="accordion-group">
                            
                            <div id="collapseOne">
                        {% for obj in nodes.iteritems() %}
                            {% for n in obj %}
                                    	{% if n.comment %}
                                        <div style="padding-bottom:1.5em;">
                                            <span><strong><i class="icon-chevron-right"></i> {{ n.name }}
                                            <a href="#add_{{ n.uid }}" class="text-success" data-toggle="collapse"></strong><small>[+] add</small></a></span>
                                                {% if n.data %}
                                                    {% for x in n.data %}
                                                         {% if x.time %}                                                	
                                                        <span class="muted pull-right">{{ x.time }}</span>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                <div class="accordion-body collapse" id="add_{{ n.uid }}">
                                                    <div class="accordion-inner no-border">
                                                      <form action="{{ url_for("submit_comment") }}" method="post">
                                                        <input type="hidden" value="{{ wid }}" name="wf_id">
                                                        <input type="hidden" name="parent_uid" value="{{ n.uid }}" />
                                                        <div><textarea rows="2" class="span11" name="content"></textarea>&nbsp;&nbsp;<button type="submit" class="btn btn-mini">Submit</button></div>
                                                      </form>
                                                    </div>
                                                </div>

                                            {% if n.comment %}
                                                {% for c in n.comment %}
													{% if c.content %}
														<div>
                                                        <table class="comment_table">
                                                        	<tr>
                                                        		<td width="50%"><strong>{{ c.user }}</strong></td><td width="50%" align="right"><strong>{{ c.time }}</strong></td>
                                                            </tr>
                                                            <tr>
                                                            	<td colspan="2"><em>{{ c.content }}</em>
                                                                <div class="pull-right"><a href="#add_{{ c.uid }}" class="text-success" data-parent="#accordion{{ c.uid }}" data-toggle="collapse"><small><em>[+] reply</em></small></a></div>
                                                                <div class="accordion-body collapse" id="add_{{ c.uid }}">
                                                                    <div class="accordion-inner no-border">
                                                                      <form action="{{ url_for("submit_comment") }}" method="post">
                                                                      	<input type="hidden" value="{{ wid }}" name="wf_id">
																		<input type="hidden" name="parent_uid" value="{{ c.uid }}" />
                                                                        <div><textarea rows="2" class="span11" name="content"></textarea>&nbsp;&nbsp;<button type="submit" class="btn btn-mini">Submit</button></div>
                                                                      </form>
                                                                    </div>
                                                              	</div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                         </div>
                                        {% endif %}                                    	
                             {% endfor %}
                        {% endfor %}
                        	</div><!-- end collapseone -->
<!--                        </div>
                        </div> <!--end accordion parent --> 
<!--                    </div>   -->         	                    
                </div> <!-- end span7 -->
                {% if nodes %}
                <div class="span4 offset1">                 
                <h5>Workflow Details: <button class="btn btn-mini btn-link expandcollapse"><i class="icon-plus-sign"></i> Expand All</button></h5>
                
                	<div id="acc-container">
                	<div id="accordion" class="accordion">
                    {% for obj in nodes.iteritems() %}
                        {% for n in obj %}
						<div>
                        <!--  display icon -->
                        {% if n.type == "dataobject" %}
                        	{% if n.data[0].wf_link|length == 1 %} 
                            <span class="icon-dataobject"></span>
                            {% else %}
                            <span class="icon-dataobject-blue"></span>
                            {% endif %}
                        <a href="#acc_{{ n.uid }}" data-toggle="collapse">{{ n.name }}</a>
                        {% elif n.type == "activity" %}
	                    	<span class="icon-activity"></span>
                        <a href="#acc_{{ n.uid }}" data-toggle="collapse">{{ n.name }}</a>
                        {% elif n.type == "workflow" %}
                        	<span class="icon-workflow"></span> 
                            <a href="#acc_{{ n.uid }}" data-toggle="collapse"><strong>{{ wid_info[0].username }} / <font color="#004B82">{{ wid_info[0].type }}</font> / {{ wid_info[0].composite_seq }}</strong></a> 
                        {% endif %}
                        <!-- end display icon -->
                        <!-- display name link and time -->
                        {% if n.data %}
                        	{% for x in n.data %}
                            	{% if x.time %}                                                	
                                	<span class="muted"><small><small><em>- {{ x.time }}</em></small></small></span>
                            	{% endif %}
                       		{% endfor %}
                       	{% endif %}                                                
                        <!-- end of display name link and time -->                                         
                                            <div class="accordion-body collapse" id="acc_{{ n.uid }}">
                                                <div class="accordion-inner no-border">
                                                    <ul>
                                                        {% if n.data %}
                                                            {% for x in n.data %}
                                                                <li><small>{{ x.description }}</small>
                                                                {% if x.uri %}    
                                                                	<small><font color="#ED8454"><em>{{ x.uri }}</em></font></small>
                                        <!-- display other workflows (if any) -->  
                                                                </li>                                 
                                                                <li><small>UID: <font color="#87A6B9">{{ x.uid }}</font></small></li>
                                                                 {% if x.wf_link|length > 1 %} 
                                                                  <ul class="wf_links"> 
                                                                      <li id="lw_{{ x.uid }}"  style="margin-left: 0px"><small><em><a style="cursor:pointer;">[+] Linked Workflows</a></em></small>
                                                                      <!-- <span id="{{ x.uid }}_loader"><img src="/static/img/ajax-loader-green-small.gif"></span> -->
                                                                    	<ul>
                                                                        {% for j in x.wf_link %}
                                                                        	{% if j.work_uid != wid %}
                                                                            <li><small><a href="{{ url_for("connections", wid=j.work_uid) }}" class="linkedwf">{{ j.work_uid }}</a></small>
                                                                            </li>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                        </ul>
                                                                      </li>
                                                                     </ul>
                                                                    {% endif %}                             
                                        <!-- end of display other workflows (if any) -->  
                                                                </li>                                                               
                                                                {% endif %}       
                                                            {% endfor %}
                                                        {% endif %}
                                                        {% if n.metadata %}
                                                            <li><small>Metadata:</small>
                                                            <ul>
                                                            {% for md in n.metadata %}
                                                                <li>
                                                                    <small>{{ md.key }}: {{ md.value }}</small>
                                                                    {% if md.time %}                                                	
                                                                    <ul><li><small>time: {{ md.time }}</small></li></ul>
                                                                    {% endif %}
                                                                </li>
                                                            {% endfor %}
                                                            </ul>
                                                            </li>
                                                        {% endif %}
                                                        {% if n.comment %}
                                                        <li><small>Comments:</small>
                                                            <ul>
                                                 			{% for c in n.comment %}
                                                                <li><small>{{ c.content }} | <em>by {{ c.user }} - {{ c.time }}</em></small> </li>
                                                            {% endfor %}
                                                        	</li>
                                                        {% endif %} 
                                                        </ul></li>                                       
                                                    </ul>
                                                </div>
                                            </div><!-- end accordion-body -->
                                     </div>
                         {% endfor %}
                    {% endfor %}
                    </div> <!--end accordion parent -->
                    </div> <!-- end acc-container -->
                </div> <!-- end span3 offset1 -->
                {% endif %}
             </div> <!-- end row-fluid -->
		<div class="row-fluid">
        	<div class="span7">

            </div><!-- end span7 -->
        </div> <!-- end row-fluid -->
        </div> <!-- end span12 -->
    </div><!-- end row-fluid -->
<span style="float: right"><em><small>Page created in: {{ page_created }} seconds.</small></em></span>
  </div> <!-- end leaderboard -->
{% endblock %} 
