{% extends "base.html" %}
{% block title %}MPO Workflow Detail{% endblock %}
{% block hscripts %}

<script type="text/javascript" src="/static/js/svg-pan-zoom.js"></script> 
<script type="text/javascript" src="/static/js/jquery.slimscroll.min.js"></script>
<style>
#svg_loading {
	background:url(/static/img/ajax-loader.gif) no-repeat center center;
	height:60px;
}
#svg {
	background-color:#FFFFFF;
	overflow: hidden;
	border: dotted 2px #E1E1E1;
}
tr.node td:first-child {
	/*background-color: #FDCD66;*/
	color: #08C;
	padding-left: 10px;
	font-weight: bold;	
}
tr.node td{
	background-color: #fefefe;
}
tr.node ul {
    padding: 0px;
    margin: 0px;
	font-size: 13px;
}
tr.node ul li {	
	padding: 0px;
	margin: 0px;
}
.bold {
	font-weight: bold;
	color:#0D1C25;
	color:#004B82;
}
.main td.detail {
   /* line-height: 0px;*/
    padding: 2px 0px 0px 0px;
    border: 0px none;
	/*background-color: #F6FDFA;*/
	background-color: #FFF7B1;
	color: #272727;
	font-size: 11px;
}
td.detail ul{	
	padding: 4px 4px;
	margin: 0px;
	list-style: none;
}
.main th {
    color: #3D3E49;
}
.main td {
	background-color: #FFF;
}
.table-container {
	overflow: auto;
}
table#comment-form td {
    border-top: none;
}
table#comment-form {
	width: 100%;
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #f00;
}

</style>
<script>
var nodeUIDs = new Array(); //store node UIDs for comparison with new node UIDs added after page load
var wid = ""; //store workflow wid
var lastUpdate = ""; //store last update time
var rightScrollHeight='700px';
var this_uid="{{ wid }}";
//var clickedLinkedWorkflows=[];

function formatDate(date) {
    var d=new Date(date);
    var month=''+(d.getMonth()+1);
    var day='' + d.getDate();
    var year=d.getFullYear();
    var hh=d.getHours();
    var mm=d.getMinutes();
    var ss=d.getSeconds();
	
    if (month.toString().length<2) month='0'+month;
    if (day.toString().length <2) day='0'+day;
    if (hh.toString().length<2) hh='0'+hh;
    if (mm.toString().length<2) mm='0'+mm;
    if (ss.toString().length<2) ss='0'+ss;
	
    this_date=[year,month,day].join('-');
	this_time=[hh,mm,ss].join(":");
	
	return this_date+" "+this_time;
}

function closepop(id) {
	$('#'+id).popover('hide');
}

function showComments() {
	$( "#node_comments" ).toggle();
}

function inArray(value, array) {
  return array.indexOf(value) > -1;
}

function failure_cb(event,msg,userarg) {
//what to do on failure (status !=200 or 204) eg event server down.
  alert(msg);
}

function success_cb(event,data,userarg) { 
//define your callback here.
//you probably want JSON.parse(data.event.data.text["#text"]) which selects the string 
//serialized json object containing the mpo event payload that is contained in the larger
// json object that is parsed out of XMLHTTPrequest and converts it to a local JSON object
// that can be used.
// You may want to define different callbacks for different events you want to monitor
// or have logic on the value of 'event'
	if (typeof(data.event) !== "undefined") {
		var tmpDataObj=JSON.parse(data.event.data.text["#text"]);
		//var tmpDataObj=jQuery.parseJSON(data.event.data.text["#text"]);
		
		var wfID="";
		for (var key in tmpDataObj) {
			if(key=="parent_uid")
				wfID=tmpDataObj[key];
			else if (key=="work_uid")
				wfID=tmpDataObj[key];
		}
	}
	 
	if(userarg==wfID)
		buildPageElements(wfID);
}

$(document).on('click','.select-change',function() {		
	$('#parent_uid').val($(this).data('val')).trigger('change');
	wid='{{ wid }}';
	
	$('div#comment_container').find( ".collapse:not(.in)" ).each(function(){
		$(this).collapse("toggle");
	});
});
//handles the svg workflow plot functionality
$(document).ready(function () {
	// set node details div height same as svg
	$('.table-container').css('height', $('#svg').height()+'px');

	var $window = $(window);
	//Process SVG
	$("#svg_loading").hide();
	var wf_state = '{{ wf_state }}';
	var wid_info = '{{ wid_info|tojson }}';  //single quote issue
	wf_desc= '{{ wid_info[0].description }}' ;	 
	var jsondata = '{{ nodes|tojson }}';  //single quote issue
	var tmp_str=jsondata.replace(/&#34;/g,'"');
	tmp_str=tmp_str.replace(/(\r\n|\n|\r)/g,'<br/>');
	tmp_str=tmp_str.replace(/&#39;/g,'\''); //replace single quote with \'
	tmp_str=tmp_str.replace(/\\/g, "\\\\");  //replace single backslash with double \\
	var jdata=tmp_str;

	var dataObjs=jQuery.parseJSON(jdata);
	
	lastUpdate=new Date(1900,00,01); //past date for demo
	//lastUpdate=new Date(); //GET CURRENT DATE ON PAGE LOAD for newest added element comparison

	var nodeCount=0;
	var dataElements = {}; //for name - desc in popover, key by uid
	loadCollectionDropdown();
	for (var key in dataObjs) 
	{
	  if (dataObjs.hasOwnProperty(key)) {
		var tmp = dataObjs[key];
		console.logtmp
		nodeUIDs[nodeCount]=tmp['uid'];
		for(var j in tmp) {
			if(j=="data") {
				var tmp2=tmp[j];
				var tmp3=tmp2[0]; 
				
				dataElements[tmp['uid']]="";
				if(tmp3['description'])
					dataElements[tmp['uid']]+=tmp3['description'];
				else if(tmp3['do_info']['description'])
					dataElements[tmp['uid']]+=tmp3['do_info']['description'];
				if(tmp3['time']) {
					dataElements[tmp['uid']]+= "<div><small>"+tmp3['time']+"</small></div>";
					//store latest workflow update time
					tmpDateTime=new Date(tmp3['time'].replace(" ","T"));
					if(tmpDateTime > lastUpdate)
						lastUpdate=tmpDateTime
				}
				else if(tmp3['do_info']['time']) {
					dataElements[tmp['uid']]+= "<div><small>"+tmp3['do_info']['time']+"</small></div>";
					//store latest workflow update time
					tmpDateTime=new Date(tmp3['do_info']['time'].replace(" ","T"));
					if(tmpDateTime > lastUpdate)
						lastUpdate=tmpDateTime
				}
				if(tmp3['uri']) {
					var fill=false;
					dataElements[tmp['uid']]+="<ul><li><small>uri: "+tmp3['uri']+"</small>";
					if(tmp3['wf_link']) {
						for (var cnt in tmp3['wf_link']) {
							if (tmp3['wf_link']['count'] > 1) {
								fill=true;
							}
						}
						if(fill)
							fillSVGElement(tmp['uid'],"linked");
					}
					dataElements[tmp['uid']]+="</li>";
				}
				else if('do_info' in tmp3 && tmp3['do_info']['uri']) {
					var fill=false;
					dataElements[tmp['uid']]+="<ul><li><small>uri: "+tmp3['do_info']['uri']+"</small>";
					if(tmp3['wf_link']) {
							if (tmp3['wf_link']['count'] > 1) {
								fill=true;
							}
						if(fill)
							fillSVGElement(tmp['uid'],"linked");
					}
					dataElements[tmp['uid']]+="</li>";
				}
				if(tmp3 && tmp3['uid']) 
					dataElements[tmp['uid']]+="<li><small>uid: "+tmp3['uid']+" AND "+j+"</small></li>"; 
			}
			else if(j=="metadata") {
				var tmp2=tmp[j];
				if(dataElements[tmp['uid']])
					dataElements[tmp['uid']]=dataElements[tmp['uid']]+"<li><small>metadata:</small><ul>";
				else
					dataElements[tmp['uid']]="<ul><li><small>metadata:</small><ul>";
				for (var z in tmp2)
				{
					var tmp3=tmp2[z];
					if(tmp3['key']) {
						dataElements[tmp['uid']]=dataElements[tmp['uid']] + "<li><small>" + tmp3['key'] + ': ' + tmp3['value'] + "</small></li>";
					}
				}
				dataElements[tmp['uid']]=dataElements[tmp['uid']]+"</ul></li></ul>";
			}
		}
		nodeCount++;
	  }
	}
	wf_date=formatDate(lastUpdate);
	$("#last-updated").html(wf_date);
	$("#td-last-updated").html(wf_date);
	
		
	var lastPopover='';
	var currentPopover='';

	//checks and adjusts svg width/height if needed
	var workflowWidth=$("#svg").width();

	var w =	document.getElementsByTagName("svg").item(0).getAttribute("width");	
	var h =	document.getElementsByTagName("svg").item(0).getAttribute("height");
	var width=parseInt(w.replace("pt",""));
	var height=parseInt(h.replace("pt",""));
	rightScrollHeight=h.replace("pt","px");
	
	//adjust for pan/zoom functionality
	document.getElementsByTagName("svg").item(0).removeAttribute("viewBox");

	//var maxWfHeight=500;
	if(width > workflowWidth) {
		var hratio=workflowWidth/width;
		var vratio=hratio;
		var wnew=workflowWidth;
		var hnew=Math.round(height*(vratio-.15));
                if (hnew < 300) { hnew = 300; hratio=0.5; vratio=0.5; }
                if (wnew < 300) { hnew = 300; hratio=0.5; vratio=0.5; }
		/*if(hnew > 500) {
			hnew=500;
			hratio=.8;
			vratio=.8;
		}*/
		//var hnew=460;
		rightScrollHeight=hnew.toString()+"px";
		$("#svg_loading").width(wnew).height(hnew);
		w=wnew.toString() + "pt";
		h=hnew.toString() + "pt";
		rightScrollHeight=hnew.toString() + "px";
		document.getElementsByTagName("svg").item(0).setAttribute("width",w);
		document.getElementsByTagName("svg").item(0).setAttribute("height",h);
		//document.getElementById("{{ graphname }}").transform.baseVal.getItem(0).setScale(".85",".85"); //VERSUS ORIGINAL SIZE 1166 wide x 712 high**
		document.getElementById("{{ graphname }}").transform.baseVal.getItem(0).setScale(hratio.toString(),vratio.toString()); //size ratio of workflow on load compared to original size
	}
	//end svg size adjust
	/*$( window ).resize(function() {
	});*/

	initZoomPan();        
	
	//get list of nodes for svg xml tag "g" w/ class "node"
	var nodelist = document.querySelectorAll("g.node");
	
	//parse nodelist object and add click event function to each node (w/ respective data)
	for (var key in nodelist) {
	  if (nodelist.hasOwnProperty(key)) {
		var node=nodelist[key];
		var id="";
		
		var sub_content="";
		var popcontent="";
		//get id of "g" element of class=nodes
		if(key==0) {
			//id="node1";
			id=node.childNodes[0].textContent;
			wid=node.childNodes[0].textContent;
			sub_content=wf_desc;
		}
		else if (typeof(node.childNodes) !== "undefined")
			id=node.childNodes[0].textContent;
		
		//create new ID attribute for <text>
		if (typeof(node.childNodes) !== "undefined") {
			if(key==0) {
				if(wf_state=="Complete")
					node.childNodes[2].setAttribute("fill","#dff0d8"); //shapes fill color
				else if(wf_state=="In Progress")
					node.childNodes[2].setAttribute("fill","#dddddd"); //shapes fill color
				else if(wf_state=="Non Standard Completion")
					node.childNodes[2].setAttribute("fill","#F2DEDE"); //shapes fill color
				else if(wf_state=="Ready for Review")
					node.childNodes[2].setAttribute("fill","#FCF8E3"); //shapes fill color
				else if(wf_state=="Review Complete")
					node.childNodes[2].setAttribute("fill","#D9EDF7"); //shapes fill color
			}
			else
				node.childNodes[2].setAttribute("fill","white"); //shapes fill color
			node.childNodes[4].setAttribute("style",'fill:rgb(0,76,153);cursor:pointer;'); //text styles
			node.childNodes[4].setAttribute("id","text_" + id); //id links popover menu
			nodeTitle=node.childNodes[4].textContent;
			//node.childNodes[4].id = "text_" + id;
			//alert(node.childNodes[3]);
			if(typeof(dataElements[node.childNodes[0].textContent]) !== 'undefined') {
				sub_content = dataElements[node.childNodes[0].textContent];
				popcontent='<div><span class="pull-right">&nbsp;&nbsp;<a class="label" onclick="closepop(\'text_'+id+'\')" >x</a></span><span><strong>'+ nodeTitle +'</strong><br/><small><em>' + sub_content; 
			}
		}
		if(key==0)
			popcontent=popcontent + wf_desc + '</em></small></span></div><hr/><div><small><a data-val="'+wid+'" class="select-change btn btn-mini btn-success"><span class="icon-comment"></span> Add Comment</a></small></div>';
		else
			popcontent=popcontent + '</em></small></span></div><hr/><div><small><a data-val="'+id+'" class="select-change btn btn-mini btn-success"><span class="icon-comment"></span> Add Comment</a></small></div>';
		
		$("#text_"+id).popover({container:'body', html: true, content: popcontent, trigger: 'manual'});
		//on click 'text' event for each element -- toggle popover menu
		$("#text_"+id).click(function(e){
				//closes last clicked popover and opens the new one that was clicked
				if(currentPopover.length==0) {					
					currentPopover=e.target.id;
				}
				else {
					lastPopover=currentPopover;
					currentPopover=e.target.id;
				}
				//close same popover on 2nd click
				if(lastPopover == currentPopover) { 
					closepop(lastPopover);
					$("#acc_"+lastPopover.substring(5)).collapse('hide');
					currentPopover='';
					lastPopover='';
				}
				// close other popover and open new one
				else {  
					closepop(lastPopover);
					$(this).popover('show');
					$("#acc_"+lastPopover.substring(5)).collapse('hide');
					$("#acc_"+e.target.id.substring(5)).collapse('show');
				}
				
			});
	  }
	}
	
	$('.expandcollapse').click(function() {
		if ($(this).html() == "<i class=\"icon-plus-sign\"></i> Expand All") {
			$('#coltab2 tr').find( ".collapse:not(.in)" ).each(function(){
                $(this).collapse("toggle");
			});
            $(this).html("<i class=\"icon-minus-sign\"></i> Collapse All");
        }
		else {
            $('#coltab2 tr').find( ".collapse.in" ).each(function () {
                $(this).collapse("toggle");
            });
            $(this).html("<i class=\"icon-plus-sign\"></i> Expand All");
        };
	});

	hideToggleSubLists();
	hideLinkedWfLoader();

	//when [+]linked workflows is clicked, convert Workflow IDs to composite names / descriptions
	$('.wf_links li').click(function () {
		var thisID=$(this).attr("id");
		//if(clickedLinkedWorkflows.indexOf(thisID) == -1) {
			//clickedLinkedWorkflows.push(thisID);
			var wfID_list = $(this).find('li');
			
			//var numWfLinks=wfID_list.length;
			//$("#"+thisID.substring(3)+"_loader").show();w_

			wfID_list.each(function(index) {
				var current=$(this);
				var wfID=$( this ).text();
				var url="{{ url_for('workflow') }}/"+wfID;
				var jqxhr = $.getJSON( url, function( data ) {
					var text=data[0]["username"]+"/"+data[0]["name"]+"/"+data[0]["composite_seq"]+" - "+data[0]["description"];
					var linked_text="<a href=\"{{ url_for('connections') }}/"+data[0]["uid"]+"\"><span class='icon-workflow'></span> <em>"+text+"</em></a>"
					current.html(linked_text);
				})
				/*if((index+1)==numWfLinks)
					$("#"+thisID.substring(3)+"_loader").hide();*/
			});
		//}			
    });


	//var mpoDemo = setInterval(function(){buildPageElements()},5000);
	
	//mdsplus event listener
	//e=mdsEvent(getQueryVariable('event'),1,success_cb,failure_cb,42);
	e=mdsEvent('mpo_dataobject',1,success_cb,failure_cb,wid);
	e=mdsEvent('mpo_activity',1,success_cb,failure_cb,wid);
	
		/**
	*function handles comment submit event for each workflow in the list
	*/
	$('[id^=submit_comment]').submit(function(event) {
	//$('id=submit_comment').submit(function(event) {
		var fadeTime = 5000;
		var formData = $(this).serialize();
		//process the form
		$.ajax({
			type 		: 'POST', // define the type of HTTP verb we want to use (POST for our form)
			url 		: '{{ url_for('submit_comment') }}', // the url where we want to POST
			data 		: formData, // our data object
			dataType 	: 'json', // what type of data do we expect back from the server
            encode      : true
		})
		//callback
		.done(function(data) {
			if (data=="401") {
				$('#submit_results').html('<div class="alert alert-danger" role="alert">This account is not authorized to submit comments.</div>');
				$('#submit_results').fadeOut(fadeTime, function() {
						// Animation complete.
						$('#comment-content').val("");
						$('#submit_results').html("");
						$('div#comment_container').find( ".collapse.in" ).each(function(){
							$(this).collapse("toggle");
						});
				});
			}
			else {
				var appendHtml = '<li>';
				appendHtml += '<span class="icon-comment lighter"></span> ' + data[0].content+' <em>by '+data[0].username +'  <small>' + data[0].time.substring(0,16)+'</small>';		
				appendHtml += '</li>';
	
				var p_uid=data[0].parent_uid;
				var c_uid=data[0].uid;
				//if first comment, add comment header list
				if($("#acc_"+p_uid+" ul li ul.comments").length==0) {
					commentHtml='<li><font class="bold">Comments:</font>';
					commentHtml+='<ul class="comments"></ul>';
					commentHtml+='</li>';
					$("#acc_"+p_uid+" ul.details-list").append(commentHtml)
				}
				var appendHtml = '<li>';
				appendHtml += '<span class="icon-comment lighter"></span> ' + data[0].content+' <em>by '+data[0].username +'  <small>' + data[0].time.substring(0,16)+'</small>';		
				appendHtml += '</li>';
	
				var p_uid=data[0].parent_uid;
				var c_uid=data[0].uid;
				//if first comment, add comment header list
				if($("#acc_"+p_uid+" ul li ul.comments").length==0) {
					commentHtml='<li><font class="bold">Comments:</font>';
					commentHtml+='<ul class="comments"></ul>';
					commentHtml+='</li>';
					$("#acc_"+p_uid+" ul.details-list").append(commentHtml)
				}
				$("#acc_"+p_uid+" ul li ul").append(appendHtml)
				
				$("tr#detail_"+p_uid).find( ".collapse:not(.in)" ).each(function(){
					$(this).collapse("toggle");
				});
				$('#submit_results').show();
				$('#submit_results').html('<div class="alert alert-success" role="alert">Comment submitted.</div>');
				$('#submit_results').fadeOut(fadeTime, function() {
						// Animation complete.
						$('#comment-content').val("");
						$('#submit_results').html("");
						$('div#comment_container').find( ".collapse.in" ).each(function(){
							$(this).collapse("toggle");
						});
				});
			}
			
         /*   $(this).html("<i class=\"icon-minus-sign\"></i> Collapse All");
       
		
		
			$('#parent_uid').val($(this).data('val')).trigger('change');
			wid='{{ wid }}';
			
			$('div#comment_container').find( ".collapse:not(.in)" ).each(function(){
				$(this).collapse("toggle");
			});*/
						
				
	
	
	
	
		
		/*	$('#block_' + c_uid).css('background-color', '#ddffdd');
			$('#block_' + c_uid).animate({backgroundColor:"#fff"},fadeTime);*/
			/*UNTIL HERE*/
		});
		// stop the form from submitting the normal way and refreshing the page
		event.preventDefault();
	});
	// end of Submit comment
    $("#coll_dropdown").hide()
    $("#collection_tbl").hide()
	$("#toggle-coll-list").click(function(event){
	    $("#coll_dropdown").toggle();
	    $("#collection_tbl").toggle();
		if($("#toggle-coll-list").html()=="[Display]") 
			$("#toggle-coll-list").html("[Hide]");
		else 
			$("#toggle-coll-list").html("[Display]");
		event.preventDefault();
	});
   /**
	*
	/*function handles collection addition
	*/
	$('#coll_dropdown').change(function(event) {
		var coll_id=$(this).val();
		//ajax call to add to collection
		$.ajax({
			type 		: 'POST', // define the type of HTTP verb we want to use (POST for our form)
			url 		: '{{ url_for('add_to_collection') }}', // the url where we want to POST
			data 		:  { cid: coll_id, oid: this_uid }, // our data object
			dataType 	: 'json', // what type of data do we expect back from the server
            encode      : true
		})
		//callback
		.done(function(data) {
			if (data=="200") {
				//remove used from dropdown
				loadCollectionDropdown();  
				coll_url="https://mpo-new.gat.com/api/v0/collection/"+coll_id; 
				
				$.getJSON(coll_url,{},function(data)
				{
					obj=data[0];		
					if($("#collection_table").length == 0) {
						//if collection list table does not exist, create one
						$( "div#collection_tbl" ).html( '<table class="main table table-hover table-striped" id="collection_table">'+
						'<tr>'+
						'	<th>Name</th><th>Description</th><th>Username</th><th>Creation Time</th></th><th></th>'+
						'</tr>'+
						'</table>' );
					}		
					//add new collection to the table
					$('#collection_table > tbody:last-child').append('<tr id="collection_'+coll_id+'">\n'+					 
					'<td><a href="{{ url_for("collections") }}/'+coll_id+'">'+obj['name']+'</a></td>\n'+
					'<td>'+obj['description']+'</td>\n'+
					'<td>'+obj['username']+'</td>\n'+
					'<td>'+obj['time']+'</td>\n'+
					'<td><a href="" id="coll-delete_'+coll_id+'" class="" id="remove" title="Remove from Collection">'+
					'[-]</a></td>\n</tr>\n');
					$( "#coll-delete_"+coll_id ).addClass( "coll-delete-btn btn btn-mini btn-warning" );					
				});				
			}
			else {
				//process error
			}
		}); 
	});
	
	/**
	*
	/*function handles collection deletion
	*/
	$(document.body).on('click', '.coll-delete-btn' ,function(event){	
		var coll_id=(this).id.substring(12); //remove "coll-delete_" from id
		//process the form
		$.ajax({
			type 		: 'POST', // define the type of HTTP verb we want to use (POST for our form)
			url 		: '{{ url_for('delete_from_collection') }}', // the url where we want to POST
			data 		:  { cid: coll_id, oid: this_uid }, // our data object
			dataType 	: 'json', // what type of data do we expect back from the server
            encode      : true
		})
		//callback
		.done(function(data) {
			if (data=="200") {
				//add removed collection to dropdown
				loadCollectionDropdown();
				//remove entry from collection_table
				$('table#collection_table tr#collection_'+coll_id).remove();
			}
			else {
				//process error
			}
		});
		event.preventDefault();
	});
	
	//convert linked Workflow UIDs to compID and description.  css class: linkedwf
}); //end document.ready

/**		
/*	
 *function created list of available collections as a dropdown options
 */
function loadCollectionDropdown() {
	url="https://mpo-new.gat.com/api/v0/collection";
	this_coll_list="https://mpo-new.gat.com/test-api/v0/collection?element_uid="+this_uid;		
	var used_coll_ids = [];
	$.getJSON(this_coll_list,{},function(data)
    {
		obj=data[0];
		coll_used_ctr=data.length
        $.each(data, function(i,obj)
        {
			used_coll_ids.push(obj['parent_uid']);	
        });
    }).then(function() {
		//clear the dropdown except for default value
		//attach current values to dropdown
		$.getJSON(url,{},function(data)
		{
			obj=data[0];
			coll_all_ctr=data.length
			//all collections used
			if(coll_used_ctr==coll_all_ctr) {
				$('#coll_dropdown')
					.find('option')
					.remove()
					.end()
					.append('<option value="">No collections available</option>');
			}
			else {
				$('#coll_dropdown')
				.find('option')
				.remove()
				.end()
				.append('<option value="">Add to selected collection</option>');
				
				$.each(data, function(i,obj)
				{
					/* if not in coll_list, append as an option */
					if(jQuery.inArray(obj['uid'], used_coll_ids) == -1)
					{
						$('#coll_dropdown').append(
							 $('<option></option>')
									.val(obj['uid'])
							 .html(obj['name']));
					}
				});
			}
		});
	});	
}


function hideToggleSubLists() {
	$('.wf_links li').click(function(ev) {
		$(this).find('>ul').slideToggle();
		ev.stopPropagation();
	});

	$('.wf_links li').find('>ul').hide();
}

function hideLinkedWfLoader() {
	$("span[id$='_loader']").hide();
}

function fillSVGElement(uid, type) {
	var svgElement = document.getElementById(uid);
	if(svgElement) {
		var childs = svgElement.childNodes;
		if (type=="linked") childs[2].style.fill="#ccffff";
	}
}

function buildPageElements(wfID) {

	var svg_h="";
	var url="";
	$("#svg").empty();
	//url="/mpo/graph/"+wfID+"/svg";
	url="{{ url_for("graph") }}/"+wfID+"/svg";
	
	var jqxhr_svg = $.get( url, function( data ) {
		$("#svg").hide();
		$("#svg_loading").show();
		$("#svg").html(data);
	});

	jqxhr_svg.done(function() {
		//url="/mpo/nodes/"+wfID;
		url="{{ url_for("nodes") }}/"+wfID;
		var dataObjs={};
		var wfid=wfID;
		var jqxhr_nodes = $.getJSON( url, function( data ) {
			dataObjs=data;
		});
		//wait for xhtmlhttprequest to finish before proceeding (fixes right-side append issues)
	
		jqxhr_nodes.done(function() {
			
			///// build nodelist UI elements /////
			lastUpdate=new Date(1900,00,01); //past date for comparison --for demo only
			
			var dataElements = {}; //for name - desc in popover
			
			for (var key in dataObjs) {
			  if (dataObjs.hasOwnProperty(key)) {
				var tmp = dataObjs[key];

				//new element attributes
				var obj_uid="";
				var newElement=""; //html text
				var obj_name="";
				var obj_time="";
				var obj_uri="";					

				//check if uid exists in current UID array...if not add new element
				if((!inArray(tmp['uid'], nodeUIDs)) && (tmp['uid']!=wfid)) {
					obj_uid=tmp['uid'];
					nodeUIDs.push(obj_uid);
					obj_name=tmp['name'];
					if (tmp.hasOwnProperty("data")) {
						obj_time=tmp["data"][0]["time"];
						obj_uri=tmp["data"][0]["uri"];
					}
					//$("#div_"+obj_uid).remove();
					newElement+='<div id="div_"' + obj_uid +'"><a id="aid_' + obj_uid + '" href="#acc_' + obj_uid + '" data-toggle="collapse">' + obj_name + '</a><span class="muted"><small><em> - ' + obj_time + '</em></small></span>';
					newElement+='<div class="accordion-body collapse" id="acc_' + obj_uid + '">';
					newElement+='<div class="accordian-inner no-border">';
					newElement+='<ul class="details-list">';
					newElement+='<li>'+obj_name+'</li>';
					newElement+='<li>time: '+obj_time+'</li>';
					newElement+='<li>uri: '+obj_uri+'</li>';

					if (tmp.hasOwnProperty("metadata")) {
						newElement+='<li>Metadata:</li><ul>';
						for (var z in tmp['metadata']) {
							var md_obj=tmp['metadata'][z];
							if(md_obj['key']) {
								newElement += "<li>" + md_obj['key'] + ': ' + md_obj['value'] + "</li>";
							}
						}
						newElement+='</ul>';
					}
					
					newElement+='</ul>';		
					newElement += '</div>';
					
					$("#acc-container").append(newElement);
					$("#aid_"+obj_uid).addClass("alert-success");
					$("#aid_"+obj_uid).removeClass("alert-success",5000);								
				}//if((!inArray(tmp['uid'], nodeUIDs)) && tmp['uid']!=wid)
				
				for(var j in tmp) {
					if(j=="data") {
						var tmp2=tmp[j];
						var tmp3=tmp2[0];
						dataElements[tmp['uid']]="";
						if(tmp3['description'])
							dataElements[tmp['uid']]+=tmp3['description'];
						if(tmp3['time']) {
							dataElements[tmp['uid']]+= ' - ' + tmp3['time'];
							//store latest workflow update time
							tmpDateTime=new Date(tmp3['time'].replace(" ","T"));
							if(tmpDateTime > lastUpdate) {
								lastUpdate=tmpDateTime
								$("#last-updated").html(lastUpdate.toLocaleString());
								$("#last-updated").addClass("alert-success text-success").css("font-weight","bold");
								$("#last-updated").removeClass("alert-success",10000);								
							}
						}
						if(tmp3['uri'])
							dataElements[tmp['uid']]+= '<br/><em>uri</em>: ' + tmp3['uri'];
					}
					else if(j=="metadata") {
						var tmp2=tmp[j];
						if(dataElements[tmp['uid']])
							dataElements[tmp['uid']]=dataElements[tmp['uid']]+"<div>metadata:<ul>";
						else
							dataElements[tmp['uid']]="<div>metadata:<ul>";
						for (var z in tmp2)
						{
							var tmp3=tmp2[z];
							if(tmp3['key']) {
								dataElements[tmp['uid']]=dataElements[tmp['uid']] + "<li>" + tmp3['key'] + ': ' + tmp3['value'] + "</li>";
							}
						}
						dataElements[tmp['uid']]=dataElements[tmp['uid']]+"</ul></div>";
					}
				}//end for
				
			  }//end if (dataObjs.hasOwnProperty(key))
			  
				//add css styles to dynamic
				$(".accordian-inner.no-border ul").css("font-size","small");
				//$(".accordian-inner.no-border ul").addClass("alert-success");
				//$(".accordian-inner.no-border ul").removeClass("alert-success",10000);
			}//end for

		
			///// build svg node UI elements /////
			var lastPopover='';
			var currentPopover='';
	
			//checks and adjusts svg width/height if needed
			var workflowWidth=500;
	
			var w =	document.getElementsByTagName("svg").item(0).getAttribute("width");	
			var h =	document.getElementsByTagName("svg").item(0).getAttribute("height");
			var width=parseInt(w.replace("pt",""));
			var height=parseInt(h.replace("pt",""));
			
			//adjust for pan/zoom functionality
			document.getElementsByTagName("svg").item(0).removeAttribute("viewBox");
			
			if(width > workflowWidth) {
				var wnew=workflowWidth;
				var hnew=Math.round(height*(workflowWidth/width));
				$("#svg_loading").width(wnew).height(hnew);
				w=wnew.toString() + "pt";
				h=hnew.toString() + "pt";
				document.getElementsByTagName("svg").item(0).setAttribute("width",w);
				document.getElementsByTagName("svg").item(0).setAttribute("height",h);
				document.getElementById("{{ graphname }}").transform.baseVal.getItem(0).setScale(".56",".56");
			}
			//end svg size adjust
			initZoomPan();
			//get list of nodes for svg xml tag "g" w/ class "node"
			var nodelist = document.querySelectorAll("g.node");
					
			//parse nodelist object and add click event function to each node (w/ respective data)
			for (var key in nodelist) {
			  if (nodelist.hasOwnProperty(key)) {
				var node=nodelist[key];
				var id="";
				var sub_content="";
				var popcontent="";
				//get id of "g" element of class=nodes
				if(key==0) {
				//	id="node1";
					id=node.childNodes[0].textContent;
					wid=node.childNodes[0].textContent;
					sub_content=wf_desc;
				}
				else if (typeof(node.childNodes) !== "undefined")
					id=node.childNodes[0].textContent;
				
				//create new ID attribute for <text>
				if (typeof(node.childNodes) !== "undefined") {
					node.childNodes[2].setAttribute("fill","white"); //shapes fill color
					node.childNodes[4].setAttribute("style",'fill:rgb(0,76,153);cursor:pointer;'); //text styles
					node.childNodes[4].setAttribute("id","text_" + id); //id links popover menu
					//node.childNodes[4].id = "text_" + id;
					if(typeof(dataElements[node.childNodes[0].textContent]) !== 'undefined') {
						sub_content = dataElements[node.childNodes[0].textContent];
						popcontent='<div><span class="pull-right">&nbsp;&nbsp;<a class="label" onclick="closepop(\'text_'+id+'\')" >x</a></span><span><strong>'+ node.childNodes[0].textContent +'</strong><br/><small><em>' + sub_content;
					}
				}
				if(key==0)
				/*if(id=="node1")*/
					popcontent=popcontent + '</em></small></span></div><hr/><div><small><a data-val="'+id+'"class="select-change btn btn-mini btn-success"><span class="icon-comment"></span> Add Comment</a></small></div>';
				else
					popcontent=popcontent + '</em></small></span></div><hr/><div><small><a data-val="'+id+'" class="select-change btn btn-mini btn-success"><span class="icon-comment"></span> Add Comment</a></small></div>';
				
				$("#text_"+id).popover({container:'body', html: true, content: popcontent, trigger: 'manual'});
				//on click 'text' event for each element -- toggle popover menu
				$("#text_"+id).click(function(e){
						//closes last clicked popover and opens the new one that was clicked
						if(currentPopover.length==0) {					
							currentPopover=e.target.id;
						}
						else {
							lastPopover=currentPopover;
							currentPopover=e.target.id;
						}
						if(lastPopover == currentPopover) { //close same popover on 2nd click
							closepop(lastPopover);
							$("#acc_"+lastPopover.substring(5)).collapse('hide');
							currentPopover='';
							lastPopover='';
						}
						else {  // close other popover and open new one
							closepop(lastPopover);
							$(this).popover('show');
							$("#acc_"+lastPopover.substring(5)).collapse('hide');
							$("#acc_"+e.target.id.substring(5)).collapse('show');
						}
						
					});
	
			  }
			}
			$("#svg_loading").hide();
			$("#svg").show();
			///// end build svg node UI elements /////	
							
		}); //end nodes.done jqhxr function
		

	});		
}
</script>
{% endblock %}
{% block container %}
	<!-- Begin header (title, desc and comment) -->
    <div class="row-fluid">  
		<div class="span12">  
        	<!-- Begin title and desc -->      
            <h4><span class="icon-workflow"></span>  <font color="#004B82">{{ wid_info[0].username }} / <font color="#00A33B">{{ wid_info[0].type }}</font> / {{ wid_info[0].composite_seq }} </font>
                <small style="padding-left: 10px"> <i class="icon-user"></i> <font color="#87A6B9"><em>{{ wid_info[0].username }} </em></font><span id="last-updated"></span></small> 
            </h4>
            <strong>Description:</strong> {{ wid_info[0].description }} <br />
            {% if wf_state %}
            <strong>Workflow State:</strong> 
            <font class="{{ wf_state|lower|replace(" ","-") }}"> {{ wf_state }}</font> &nbsp;&nbsp;
            {% endif %}
            <strong>UID: </strong><input type="text" value="{{ wid }}" class="small copy" readonly /> 
            
            <!-- End title and desc -->
        </div><!-- end of span12 -->
	</div><!-- end of row-fluid-->
    <!-- End header -->
    
    <div class="row-fluid">
    	<div class="span12">
        	<div class="row-fluid">
            	<!-- begin graph -->
                <div class="span7" id="left-container" >
                    <div class="row-fluid">
					<div id="svg_loading">&nbsp;</div>
	                    <div id="svg">
                            {{ svg|safe }}
                            <script>
                              function initZoomPan() {	svgPanZoom.init({'selector': 'svg', });	}
                            </script>                    
	                    </div> <!-- end of svg_loading -->
                    </div>
                    <div class="pull-right">
                    	<small><a href="{{ url_for("graph", wid=wid) }}/jpg"><span id="img" class="label label-info">jpg</span></a></small>
                    </div>
        <!--       <div id="node_comments">
                        <div id="accordion2" class="accordion">
                        <div class="accordion-group">
                            
                            <div id="collapseOne">
                        {% for obj in nodes.iteritems() %}
                            {% for n in obj %}
                                    	{% if n.comment %}
                                        <div style="padding-bottom:1.5em;">
                                            <span><strong><i class="icon-chevron-right"></i> {{ n.name }}
                                            <a href="#add_{{ n.uid }}" class="text-success" data-toggle="collapse"></strong><small>[+] add</small></a></span>
                                                {% if n.data %}
                                                    {% for x in n.data %}
                                                         {% if x.time %}                                                	
                                                        <span class="muted pull-right">{{ x.time }}</span>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                <div class="accordion-body collapse" id="add_{{ n.uid }}">
                                                    <div class="accordion-inner no-border">
                                                      <form action="{{ url_for("submit_comment") }}" method="post">
                                                        <input type="hidden" value="{{ wid }}" name="wf_id">
                                                        <input type="hidden" name="parent_uid" value="{{ n.uid }}" />
                                                        <div><textarea rows="2" class="span11" name="content"></textarea>&nbsp;&nbsp;<button type="submit" class="btn btn-mini">Submit</button></div>
                                                      </form>
                                                    </div>
                                                </div>

                                            {% if n.comment %}
                                                {% for c in n.comment %}
													{% if c.content %}
														<div>
                                                        <table class="comment_table">
                                                        	<tr>
                                                        		<td width="50%"><strong>{{ c.user }}</strong></td><td width="50%" align="right"><strong>{{ c.time }}</strong></td>
                                                            </tr>
                                                            <tr>
                                                            	<td colspan="2"><em>{{ c.content }}</em>
                                                                <div class="pull-right"><a href="#add_{{ c.uid }}" class="text-success" data-parent="#accordion{{ c.uid }}" data-toggle="collapse"><small><em>[+] reply</em></small></a></div>
                                                                <div class="accordion-body collapse" id="add_{{ c.uid }}">
                                                                    <div class="accordion-inner no-border">
                                                                      <form action="{{ url_for("submit_comment") }}" method="post">
                                                                      	<input type="hidden" value="{{ wid }}" name="wf_id">
																		<input type="hidden" name="parent_uid" value="{{ c.uid }}" />
                                                                        <div><textarea rows="2" class="span11" name="content"></textarea>&nbsp;&nbsp;<button type="submit" class="btn btn-mini">Submit</button></div>
                                                                      </form>
                                                                    </div>
                                                              	</div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                         </div>
                                        {% endif %}                                    	
                             {% endfor %}
                        {% endfor %}
                        	</div><!-- end collapseone -->
<!--                        </div>
                        </div> <!--end accordion parent --> 
<!--                    </div>   -->         	                    
                </div> <!-- end span7 -->
                <!-- end graph -->
                
                <!-- begin workflow details text -->
                {% if nodes %}
                <div class="span5"> 
                
				 <!-- Begin comment -->
              
           <div id="comment_container">
            <div class="accordion-body collapse" id="add_{{ wid }}">
                <div class="accordion-inner no-border">
                    <span id="submit_results"></span>                    
                    <form id="submit_comment">
                    <table id="comment-form">
                    <tr>
                    	<td>Workflow object:</td>
                    	<td>
                        <input type="hidden" value="{{ wid }}" name="wf_id">
                        <select name="parent_uid" id="parent_uid">
                        {% for obj in nodes.iteritems() %}
                            {% for n in obj %}
                                {% if n.name %}
                                <option value="{{ n.uid }}">{{ n.name }}</option>
                                {% endif %}
                            {% endfor %}
                         {% endfor %}
                         </select>
                    	</td>
                    </tr>
                    <tr>
                    	<td>Comment: </td>
                    	<td><textarea rows="2" id="comment-content" class="span11" name="content"></textarea>&nbsp;&nbsp;<button type="submit" class="btn btn-mini">Submit</button></td><br>
                    </tr>
                    </table>
                    </form>
                </div> <!-- end of accordion-inner -->
            </div><!-- accordion-body -->
            </div>
            <!-- End comment -->
<!-- collections -->
			
 			<h5><span class="icon-list-alt"></span> Associated Collections
            <a href="#" id="toggle-coll-list">[Display]</a>
            
             <div class="dropdown" style="float:right">
              <select id="coll_dropdown" class="btn btn-info" >
              <option value="">Add to selected collection</option>
              </select>
              <br />
            </div>
              
              </h5>
            <!-- workflow list table -->
        	<div id="collection_tbl">
            {% if coll_list %}
            <!-- workflow list table -->
            <table class="main table table-hover table-striped" id="collection_table">
            	<tr>
                	<th>Name</th><th>Description</th><th>Username</th><th>Creation Time</th></th><th></th>
              	</tr>
            	{% for item in coll_list %}
                	<tr id="collection_{{ item.collection_uid }}">
                	<td><a href="{{ url_for("collections", uid=item.collection_uid) }}">{{ item.name }}</a></td>
                    <td>{{ item.description }} </td>
                    <td>{{ item.username }} </td>
                    <td>{{ item.time }} </td>
                    <td><a href="" id="coll-delete_{{ item.collection_uid }} " class="coll-delete-btn btn btn-mini btn-warning" id="remove"  title="Remove from Collection">[-]</a></td>
                    </tr>
                {% endfor %}
               </table>
           {% else %}
               	<p><em>There are no associated collections.</em></p>
           {% endif %}  
			 </span>
    		</div> <!--end workflow table div -->     
<!-- /collections -->
                <div class="table-container">             
                <table class="main table" id="coltab2">
                	<thead>
                        <tr>
                            <th colspan=2>Workflow Details: 
                           <span class="pull-right">
                <span class="accordian-heading">
                    <a href="#add_{{ wid }}" data-toggle="collapse" class="btn btn-mini btn-success"><span class="icon-comment"></span> Add Comment</a>
                </span>
           
            
                            <span class="pull-right"><button class="btn btn-mini btn-success expandcollapse"><i class="icon-plus-sign"></i> Expand All</button></span></th>
                            
                        </tr>
                    </thead>
                
                <tbody>
               
                    {% for obj in nodes.iteritems() %}
                    
                        {% for n in obj %}
                        
                        {% if n.type == "dataobject_instance" %} 
                        	{% if n.data[0].wf_link.count == 1 %} 
                            <tr data-toggle="collapse" data-target="#acc_{{ n.uid }}" class="clickable node">
                                <td><span class="icon-dataobject"></span> 
                            {% else %}                            
                            <tr data-toggle="collapse" data-target="#acc_{{ n.uid }}" class="clickable node">
                                <td><span class="icon-dataobject-blue"></span> 
                            {% endif %}
                        	{% if n.data[0] %}
                        		{{ n.data[0].do_info.name }}</td><td>
                        		{{ n.data[0].time[:19] }}
                            {% endif %}
                        {% else %}
                            {% if n.type == "activity" %}
                     			<tr data-toggle="collapse" data-target="#acc_{{ n.uid }}" class="clickable node">
                                <td><span class="icon-activity"></span> {{ n.name }}</td>                            
                            {% elif n.type == "workflow" %}
                            	{% if wf_state %}
                     			<tr data-toggle="collapse" data-target="#acc_{{ n.uid }}" class="clickable node {{ wf_state|lower|replace(" ","-") }}">
								{% else %}
                     			<tr data-toggle="collapse" data-target="#acc_{{ n.uid }}" class="clickable node">
                                {% endif %}
                                <td><span class="icon-workflow"></span> 
                                <font color="#004B82">{{ wid_info[0].username }} / <font color="#00A33B">{{ wid_info[0].type }}</font> / {{ wid_info[0].composite_seq }} </font>
                               	
                                {% if wf_state != None %}
                                	<font class="state-label {{ wf_state|lower|replace(" ","-") }}">
                                	- {{ wf_state }}</small></font>
                                {% endif %}
                                
                                
                                </td><td><span id="td-last-updated"></span></td>
                       		{% endif %}   
                            
                        	{% if n.data %}                                      	
                             <td>{{ n.time[:19] }}
                            {% endif %}                             
                        {% endif %}
                        </td>
                        </tr> 
                        {% if n.type == "workflow" %} 
                        <tr id="detail_{{ n.uid }}">
                            <td colspan=2 class="detail">   
                                <div id="acc_{{ n.uid }}" class="collapse">
                                    <ul class="details-list"> 
                                    {% if wid_info[0].description  %}
                                        <li><font class="bold">Description:</font> {{ wid_info[0].description }} </li>
                                    {% endif %}
                                    
                                    {% if n.comment %}
                                        <li><font class="bold">Comments:</font>
                                            <ul class="comments">
                                            {% for c in n.comment %}
                                                <li><span class="icon-comment lighter"></span> {{ c.content }} <em>by {{ c.user }} <small>{{ c.time }}</small></em></li>
                                            {% endfor %}
                                            </ul>
                                        </li>
                                     {% endif %}
                                    <!-- end of if n.comment -->
                                    </ul>
                                </div>
                            </td>
                        </tr>
                                     {% endif %} 
                        <!-- end of n.type is "dataojbect_instance" -->
                        <!-- end display icon, name link and time -->                        
                        {% if n.data %}   
                        <tr id="detail_{{ n.uid }}">
                            <td colspan=2 class="detail">   
                                <div id="acc_{{ n.uid }}" class="collapse">
                                    <ul class="details-list"> 
                                    
                                    <!-- description -->
                                    {% if n.type == "dataobject_instance" %}
                                    <li><font class="bold">Description:</font> {{ n.data[0].do_info.description }}
                                    {{ n.data[0].do_info.uri }} </li>
                                    <li><strong></strong><font class="bold">UID:</font> <input type="text" value="{{ n.data[0].uid }}" class="small copy" readonly /></li>
                                    {% else %}
                                    <li><font class="bold">Description:</font> {{ n.data[0].description }}
                                    <font color="#ED8454"><em>{{ n.data[0].uri }}</em></font> </li>
                                    <li><strong></strong><font class="bold"> UID:</font> <input type="text" value="{{ n.data[0].uid }}" class="small copy" readonly /></li>
                                    {% endif %}
                                    <!-- end of description -->
                                   
                                    <!-- end of if n.data --> 
                                    {% if n.metadata %}
                                        <li><font class="bold">Metadata:</font>
                                            <ul>
                                            {% for md in n.metadata %}
                                                <li>
                                                	<span class="icon-plus lighter"></span> 
                                                    {{ md.key }}: {{ md.value }}
                                                    {% if md.time %}                                                	
                                                        <em>{{ md.username }} <small>{{ md.time }}</small></em>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                            </ul>
                                         </li>
                                     {% endif %}
                                    <!-- end of if n.metadata -->
                                    {% if n.comment %}
                                        <li><font class="bold">Comments:</font>
                                            <ul class="comments">
                                            {% for c in n.comment %}
                                                <li><span class="icon-comment lighter"></span> {{ c.content }} <em>{{ c.user }} <small>{{ c.time }}</small></em></li>
                                            {% endfor %}
                                            </ul>
                                        </li>
                                     {% endif %} 
                                    <!-- end of if n.comment -->
                                    
                                    <!-- display other workflows (if any) -->                                              
                                    {% if n.data[0].wf_link and n.data[0].wf_link.count > 1 %} 
                                    <ul class="wf_links" style="padding: 0px 0px"> 
                                        <li id="lw_{{ n.data.uid }}"  style="margin-left: 0px"><em><a style="cursor:pointer;"><strong>&darr; View linked Workflows</strong></a></em>
                                           <ul>                                         
                                            {% for j in n.data[0].wf_link.result %}
                                                {% if j.work_uid != wid %}                                                        
                                                <li><a href="{{ url_for("connections", wid=j.uid) }}" class="linkedwf">{{ j.uid }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                    {% endif %} 
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                        <!-- end of if n.data -->
                	 	{% endfor %}
                        <!-- end of for n in obj -->
                    {% endfor %}   
                    <!-- end of for obj in nodes.iteritmes() -->              
                	</tbody>
                </table>
                </div> <!-- end table-container -->
    		    </div> <!-- end span5 -->
                {% endif %}
             </div> <!-- end row-fluid -->
        </div> <!-- end span12 -->
        
        <!-- end collections_table -->
        
    </div><!-- end row-fluid -->
<span style="float: right"><em><small>Page created in: {{ page_created }} seconds.</small></em></span>
  </div> <!-- end leaderboard -->
{% endblock %} 
