{% extends "base.html" %}
{% block title %}MPO Data Objects{% endblock %}
{% block hscripts %}

<script type="text/javascript" language="javascript" class="init">

$(document).ready(function() {

	// Init table 
	var table = $('#data_table').DataTable( {
		"processing": true,
        "serverSide": true,
		"bFilter": false,
        "ajax": "{{ url_for("get_server_data") }}",
        "columns": [
            { 
				"data": "uid",
			    "visible": false,
			},
            { 
			  "data": "name", 
			  "render": function ( data, type, row ) {
                    r=<strong>'+data+'</strong>';
					return r;
			   },
			},
            { "data": "description" },
            { "data": "uri" },
			{ "data": "source_uid", 
			  "render": function ( data, type, row ) {
                    if(data==null) return 'Outside of MPO';
              },
			},
            { "data": "username" },
            { "data": "time" }
        ]
    });	
} );
</script>
<style>
#nav_split, #ont_search_header, #wf_search_header, #wf_attrib, #wf_hide {
	display: none;
}
.nav_search_header {
 	font-size: small;
	color: #999;
	font-style: italic;	
}

ul ul {
    /*display:none;   */
}
ul li:hover > ul {
    /*display:block;   */
}
.attrib {
	font-size: small;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}
.user_sel {
	font-size:12px;
	font-style:italic;
	color:#390;
}
.type_sel {
	font-size:11px;
	color:#666;
	width: 80px;
	border: 1px thin #ddd;
	height: 22px;
	vertical-align: middle;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;		
}
.wf_more {
	font-style: italic;
	text-transform:none;
	font-weight: 200;
	list-style-type: none;
}
#clear_ont_path {
	background-color: #F90;
	height: 10px;
	font-size: 9px;
	color: #fff;
	padding: 2px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;	
}
ul li input.user_entry {
	border: 1px thin #ddd;
	height: 10px;
	line-height: 11px;
	width: 50px;
	font-size:12px;
	vertical-align: middle;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;	
}
ul li input.user_entry_wf {
	border: 1px thin #ddd;
	height: 10px;
	line-height: 11px;
	width: 125px;
	font-size:12px;
	vertical-align: middle;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;	
}

ul li input.user_time_wf {
	border: 1px thin #ddd;
	height: 10px;
	line-height: 11px;
	width: 60px;
	font-size:12px;
	vertical-align: middle;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;	
}

#ont_listing ul li {
	font-size: 12px;
	font-weight: normal;	
}
#ont_listing ul li ul li {
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
}
#ont_listing ul li ul li ul li {
	font-size: 12px;
}

.set_quality {
	cursor: pointer;
}

#workflow_tbl {
	position:relative;
	overflow:hidden;
}

</style>
{% endblock %}
{% block dataobject_active %} class="active" {% endblock %}
{% block container %}
     <div class="row-fluid">
		<!-- left navigation menu span -->
        <div class="span12"><br />
        <h4>MPO Data Objects</h4>
{% if coll_list %}
        	<div id="workflow_tbl">
            <!-- workflow list table -->
            <table class="main table table-hover table-striped" id="data_table">
            	<thead>
					<tr>
                        <th>UID</th>                                
                        <th>Name</th>
                    	<th>Description</th>
                        <th>URI</th>
                        <th>Source</th>
                        <th>Username</th>
                        <th>Time </th>
					</tr>
				</thead>
                <tfoot>
           			<tr>
                        <th>UID</th>
                        <th>Name</th>
                    	<th>Description</th>
                        <th>URI</th>
                        <th>Source</th>
                        <th>Username</th>
                        <th>Time </th>   
                	</tr>
        		</tfoot>
           </table>
{% else %}
<p>No results found.</p>
{% endif %}  
            </div>
        
    	</div> <!-- end span12 -->    
    </div> <!-- end row fluid -->

{% endblock %}
