<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MPO Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Prototype Implementation of MPO Project">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/bootstrap/images/favicon.ico">
    <link rel="apple-touch-icon" href="/static/bootstrap/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/bootstrap/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/bootstrap/images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!-- <a class="brand" href="#"><img src="/static/img/mpo.png" width="111" height="20" alt="MPO logo" /></a>  -->
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="{{ root_uri }}">Home</a></li>
              <li><a href="about">About</a></li>
	      <li><a href="search"><i class="icon-search"></i>&nbsp;Search</a></li>
            </ul>
	    <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="username">
              <input class="span2" type="password" placeholder="password">
              <button type="submit" class="btn btn-mini btn-inverse">Log in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="leaderboard">
	<div>
	  <span class="pull-right"><a href="search" role="button" class="btn btn-success"><i class="icon-search icon-white"></i>&nbsp;Search</a></span>
	  <h1> Activity </h1>
	</div>	
	<table class="main">
	  <tr>
	    <th>Name</th><th>Description</th><th>Date</th><th>GUID</th><th>Comments</th>
	  </tr>
	    {% for item in results %}
		    <tr><td>{{ item.name }}</td><td>{{ item.description }}</td><td>{{ item.time }}</td><td>{{ item._id }}</td><td><a href="#commentModal" role="button" class="btn btn-mini btn-info" data-toggle="modal">3</a>&nbsp;<a href="#submitCommentModal" role="button" class="btn btn-mini btn-success" data-toggle="modal">+</a></td></tr>
	    {% endfor %}
	</table>
      </div>
 	<!-- Modal -->
	<div id="commentModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
	    <span id="myModalLabel">Comments for ID#</span>
	  </div>
	  <div class="modal-body">
	    <div class="accordion" id="accordion2">
	      <div class="accordion-group">
		<div class="accordion-heading">
		  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		    Comment title 3 by user Schissel...
		  </a>
		</div>
		<div id="collapseOne" class="accordion-body collapse in">
		  <div class="accordion-inner">
		    This workflow is run on a 100-node cluster.
		  </div>
		</div>
	      </div>
	      <div class="accordion-group">
		<div class="accordion-heading">
		  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		    Comment title 2 by user Chanthavong...
		  </a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
		  <div class="accordion-inner">
		    I second the first comment.
		  </div>
		</div>
	      </div>
	      <div class="accordion-group">
		<div class="accordion-heading">
		  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
		    Comment title 1 by user Abla...
		  </a>
		</div>
		<div id="collapseThree" class="accordion-body collapse">
		  <div class="accordion-inner">
		    Good results.
		  </div>
		</div>
	      </div>	      
	    </div>
	  </div>
      </div>
	<!-- Submit Comments Modal -->
      <div id="submitCommentModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
	  <span id="myModalLabel">Submit comment for ID#</span>
	</div>
	<div class="modal-body">
	  <form>
	    <div><textarea rows="3" class="span6"></textarea></div>
	    <div><button type="submit" class="btn btn-success pull-right">Submit</button></div>
	  </form>
	</div>
      </div>  
      <hr>

      <footer>
        <h4 align="center" >&copy; MPO Team 2013</h4>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/bootstrap/js/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/static/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/static/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/static/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/static/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/static/bootstrap/js/bootstrap-button.js"></script>
    <script src="/static/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/static/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/static/bootstrap/js/bootstrap-typeahead.js"></script>

  </body>
</html>
