<!DOCTYPE html>
<html lang="en">
  <head>
<script type="text/javascript">

xmlToJson = function(xml) {
    var obj = {};
    if (xml.nodeType == 1) {                
        if (xml.attributes.length > 0) {
            obj["@attributes"] = {};
            for (var j = 0; j < xml.attributes.length; j++) {
                var attribute = xml.attributes.item(j);
                obj["@attributes"][attribute.nodeName] = attribute.nodeValue;
            }
        }
    } else if (xml.nodeType == 3) { 
        obj = xml.nodeValue;
    }            
    if (xml.hasChildNodes()) {
        for (var i = 0; i < xml.childNodes.length; i++) {
            var item = xml.childNodes.item(i);
            var nodeName = item.nodeName;
            if (typeof (obj[nodeName]) == "undefined") {
                obj[nodeName] = xmlToJson(item);
            } else {
                if (typeof (obj[nodeName].push) == "undefined") {
                    var old = obj[nodeName];
                    obj[nodeName] = [];
                    obj[nodeName].push(old);
                }
                obj[nodeName].push(xmlToJson(item));
            }
        }
    }
    return obj;
}


function getQueryVariable(variable) {
  var query = window.location.search.substring(1);
  var vars = query.split("&");
  for (var i=0;i<vars.length;i++) {
    var pair = vars[i].split("=");
    if (pair[0] == variable) {
      return pair[1];
    }
  }
}

function mdsEvent(event,repeat,success_cb,error_cb,userarg) {
  var req = new XMLHttpRequest();
  req.open('GET','https://{{evserver}}/mdsplusEvents/'+event,true);
  req.responseType = '';
  req.scb=success_cb;
  req.fcb=error_cb;
  req.event=event;
  req.userarg=userarg;
  req.repeat=repeat;
  req.onreadystatechange = function() {
    if (this.readyState == 4) {
       if (this.status == 200) {
          console.log("ready");
          console.log(this.responseXML);
          console.log(this.responseText);
	  var parser = new DOMParser(); //this is a workaround to know errors in some browsers with responseXML

          var xmlDoc = parser.parseFromString(this.responseText, "application/xml");
          data = xmlToJson(xmlDoc);
          console.log(xmlDoc);
          console.log(data);
//          data = this.responseText;
       	  this.scb(this.event,data,this.userarg);
          if (this.repeat != 0) {
             this.open('GET','https://{{evserver}}/mdsplusEvents/'+event,true);
             this.send();
             return;
          }
       }
       else if (req.status == 204) {
          this.open('GET','https://{{evserver}}/mdsplusEvents/'+event,true);
          this.send();
          return;
       } else if (req.status != 0) {
          this.fcb(this.event,req.response,this.userarg);
       }
       this.onreadystatechange = function() {}
    }
  };
  req.send();
  return req;
}


function failure_cb(event,msg,userarg) {
  alert(msg);
}


function qs(search_for) {
		var query = window.location.search.substring(1);
		var parms = query.split('&');
		for (var i=0; i<parms.length; i++) {
			var pos = parms[i].indexOf('=');
			if (pos > 0  && search_for == parms[i].substring(0,pos)) {
				return parms[i].substring(pos+1);;
			}
		}
		return "";
	}

{% block hscripts %}{% endblock %}
</script>

</head>

<body>
{% block mybody %}
{% endblock %}
</body>

</html>

