{% extends "base.html" %}
{% block title %}MPO Welcome{% endblock %}
{% block about_active %} class="active" {% endblock %}
{% block container %}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="leaderboard">
      	<div class="row-fluid">       		
        	<div class="span12">
        	<h1>Documenting Scientific Workflows<br>
            <h3>The Metadata, Provenance, and Ontology Project</small></h3>
       		<hr/>
            
            <p style="padding-top: 20px;" id="about">
            
            {% if db_server != "demo" %}
            <font class="big">Welcome, MPO Users!</font><br>
			{% else %}
            <font class="big">Welcome to the MPO Demo Website!</font><br>
            {% endif %}            
            <p>
            Here is a list of available views:  
            
           	<ul style="list-style: none">
            	<li>
                    <img src="/static/img/images/_icon_workflow.png"/> 
                    <a href="{{ url_for("workflows") }}"><strong>Workflows</strong></a>: view all available workflows 
                </li>
            	<li>
                	<span class="icon-list-alt"></span> 
                    <a href="{{ url_for("collections") }}"><strong>Collections</strong></a>: a custom group of workflows, activities, data objects and other collections
                </li>
            	<li>
                	<img src="/static/img/images/_icon_dataobject.png"> 
                    <a href="{{ url_for("dataobject") }}"><strong>Data Objects</strong></a>: view all available data objects
               	</li>
            	<li>
                	<span class="icon-search"></span> 
                    <a href="{{ url_for("search") }}"><strong>Search MPO</strong></a>: search MPO data 
             	</li>
     		</ul>
            </p><br />
            
            {% if db_server != "demo" %}
            <h4>MPO Databases: </h4> 
            <p>
                <ul>
                    <li><strong>Test Database</strong>: MPO test area</li>
                    <li><strong>Production Database</strong>: MPO prodution area</li>
                </ul>
            </p>
            <br />
            <h4>MPO Links: </h4> 
            <p>
                <ul>
                    <li><a href="/mpo/doc/">MPO Documentation</a></li>
                    <li><a href="#">MPO Project Public Website</a></li>
            	</ul>
            </p>
            {% endif %}            
            </div>
        </div> <!-- end row fluid --> 
     </div> <!-- end leaderboard -->
{% endblock %}
