{% extends "base.html" %}
{% block title %}MPO Registration{% endblock %}
{% block container %}

      <div class="leaderboard">
        <div>
          <h1> MPO Registration </h1>
        </div>
        	<hr/>
            <form id="reg_form" class="form-horizontal" action="{{ url_for("signup") }}" method="post">
            	<div class="control-group">
                	<label class="control-label"><small><em>*required fields</em></small></label>
                </div>   
                <div class="control-group">
                    <label class="control-label" for="firstname">*First Name</label>
                    <div class="controls">
                        <input type="text" id="fname" name="fname" placeholder="first name" class="span4">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="lastname">*Last Name</label>
                    <div class="controls">
                        <input type="text" id="lname" name="lname" placeholder="last name" class="span4">
                    </div>
                </div>     
                <div class="control-group">
                    <label class="control-label" for="inst">*Institution</label>
                    <div class="controls">
                        <input type="text" id="inst" name="inst" placeholder="institution" class="span4">
                    </div>
                </div>                              
                 <div class="control-group">
                    <label class="control-label" for="email">*Email</label>
                    <div class="controls">
                        <input type="text" id="email" name="email" placeholder="email" class="span4">
                    </div>
                </div>
                 <div class="control-group">
                    <label class="control-label" for="tele">*Telephone</label>
                    <div class="controls">
                        <input type="text" id="tele" name="tele" placeholder="telephone" class="span3">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success" id="submit">submit</button>
                    </div>
                </div> 
		<input type="hidden" id="dest_url" name="dest_url" value="{{ dest_url }}">
            </form>
      </div>
{% endblock %}
