{% extends "base.html" %}
{% block title %}MPO Registration{% endblock %}
{% block container %}
{% if form %}
   	{% set firstname=form.firstname %}
   	{% set lastname=form.lastname %}
   	{% set organization=form.organization %}
   	{% set email=form.email %}
   	{% set phone=form.phone %}
   	{% set username=form.username %}
{% endif %}
      <div class="leaderboard">
        <div>
          <h1> MPO Registration </h1>
        </div>
        	<hr/>
        <div class="row-fluid">
        <div class="span6 offset3">
            <form id="reg_form" class="form-horizontal span12" action="{{ url_for("register") }}" method="post">  
            	<div class="control-group">
                	<label class="control-label"><small><em>*required fields</em></small></label>
                </div>   
                <div class="control-group">
                    <label class="control-label" for="firstname">*First Name</label>
                    <div class="controls">
                        <input type="text" id="firstname" name="firstname" class="span10" value="{{ firstname }}">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="lastname">*Last Name</label>
                    <div class="controls">
                        <input type="text" id="lastname" name="lastname" class="span10"  value="{{ lastname }}">
                    </div>
                </div>     
                <div class="control-group">
                    <label class="control-label" for="organization">*Organization</label>
                    <div class="controls">
                        <input type="text" id="organization" name="organization" class="span10"  value="{{ organization }}">
                    </div>
                </div>                              
                 <div class="control-group">
                    <label class="control-label" for="email">*Email</label>
                    <div class="controls">
                        <input type="text" id="email" name="email" class="span10" value="{{ email }}">
                    </div>
                </div>
                 <div class="control-group">
                    <label class="control-label" for="phone">*Telephone</label>
                    <div class="controls">
                        <input type="text" id="phone" name="phone" class="span8" value="{{ phone }}">
                    </div>
                </div>
                 <div class="control-group">
                    <label class="control-label" for="username">*Username</label>
                    <div class="controls">
                        <input type="text" name="username" class="span8" value="{{ username }}">
                    </div>
                </div>                
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success" id="submit">submit</button>
                    </div>
                </div>
                 <div class="control-group">
                    <div class="controls">
                    {% if msg %}
	              		<span class="text-error"><em>{{ msg|safe }}</em></span>
                    {% endif %}
                    </div>
                </div>
             </form>
       </div>
       </div>
    </div>
{% endblock %}
