{% extends "base.html" %}
{% block title %}MPO Workflows{% endblock %}
{% block hscripts %}
<script>
var debug=0;

$(document).ready(function () {
	
	//wf filter - set up datepicker
	$( "#wf_date_val1" ).datepicker({ dateFormat: 'yy-mm-dd' }).val();
	$( "#wf_date_val2" ).datepicker({ dateFormat: 'yy-mm-dd' }).val();
		
	// onclick - clear, go back to all wf list view
	$('.wf_filter_clear').on('click', function() {
		//display all workflows
		loadWorkflowTable("{{ url_for("get_workflows",display="table") }}");
		//clear workflow filter input fields
		clearWfFilterFields();
		//collapse ontology filter tree
		loadOntFilterOptions();
	});
		
	// onclick - filter, reload data 	
	$('#wf_filter_submit').on('click', function () {		
		//check for ontology selection:
		var url="{{ url_for("get_workflows",display="table") }}"
		
		var ont_filter_selected=[];
		$('input[name=ont_filter_selection]:checked').map(function() {
			ont_filter_selected.push($(this).attr('id'));
		});
		ont_filter_selected = escape(JSON.stringify(ont_filter_selected));
		url_query="&wf_ont_id="+ont_filter_selected;
	
		var wf_date_val1=$('#wf_date_val1').val();		
	 	if(wf_date_val1!="") url_query+="&wf_date1=" + wf_date_val1
		var wf_date_val2=$('#wf_date_val2').val();		
	 	if(wf_date_val2!="") url_query+="&wf_date2=" + wf_date_val2
		var wf_name_val=$('#wf_name_val').val();		
	 	if(wf_name_val!="") url_query+="&wf_name=" + wf_name_val
		var wf_desc_val=$('#wf_desc_val').val();		
	 	if(wf_desc_val!="") url_query+="&wf_description=" + wf_desc_val
		var wf_ln_val=$('#wf_ln_val').val();		
	 	if(wf_ln_val!="") url_query+="&wf_lname=" + wf_ln_val
		var wf_fn_val=$('#wf_fn_val').val();		
	 	if(wf_fn_val!="") url_query+="&wf_fname=" + wf_fn_val
		var wf_user_val=$('#wf_user_val').val();	
	 	if(wf_user_val!="") url_query+="&wf_username=" + wf_user_val	
		url+=url_query
		
		loadOntFilterOptions(url_query);
		loadWorkflowTable(url);	
	});
	//submit wf filter form when "Enter" is pressed from input
	$('.user_entry_wf').keypress(function(e){
        if(e.which == 13){
            $('#wf_filter_submit').click();
        }
    });
	

	loadOntFilterOptions(); //display wf ontology filter options
	clearWfFilterFields(); //clear wf filter fields
	loadWorkflowTable( "{{ url_for("get_workflows",display="table") }}" ); 	// display list of workflows
});

function clearWfFilterFields(){	
	$("input.user_entry:text").val("");
	$("input.user_entry_wf:text").val("");
	$("#wf_type_sel").val("");
}

function loadWorkflowTable(url) {
    $.ajax({
    	type: "GET",
    	url: url,
    	dataType: 'html',
		success: function(html){
        	$("#wf_table").html(html);
    	}
    });
}

//populate a list of ontology list including terms with children to filter by
function loadOntFilterOptions(query){	
	
	var currentParent="";
	var ontTreeMenu = "";		
	var parentOntWithWf = {};
	url="{{ url_for("get_ontology_count") }}"
	if(query) 
		url=url+"?"+query;	
		
	$.getJSON( url, function( data ) {		
	  $.each( data, function( key, val ) {
		  for (var ont_key = 0; ont_key < val.length; ont_key++) {
			this_count=val[ont_key].count	  //counter
			this_name=val[ont_key].name		  //parent name str 
			this_pid=val[ont_key].parent_uid  //pid (parent ont)
			this_uid=val[ont_key].uid		  //uid (ont)
			this_value=val[ont_key].value	  //ont value str
					
			//1st time processing parent, add metadata and child array
			if(currentParent!=this_name) {
				parentOntWithWf[this_pid]={}
				parentOntWithWf[this_pid]['name']=this_name;	
				parentOntWithWf[this_pid]['children']=[{id: this_uid,name: this_value,count:this_count}];	
			}
			else {
				parentOntWithWf[this_pid]['name']=this_name;	
				parentOntWithWf[this_pid]['children'].push({id: this_uid,name: this_value, count:this_count});	
			}
					
			currentParent=this_name;
		  }
	   });
	   
	   //display ont based wf filters
	   for (var index in parentOntWithWf) {
			name=parentOntWithWf[index].name;
			uid=index;
			children=parentOntWithWf[index].children; //with associated workflow<br>
			ontTreeMenu+="<li id=\""+uid+"\">"+name+"<ul>";
			for (c in children) {
				this_id=children[c]['id'];
				this_name=children[c]['name'];	
				this_count=children[c]['count'];			
				ontTreeMenu +="<li><input type=\"checkbox\" class=\"ont_filter_selection\" name=\"ont_filter_selection\" ";
				if (query && query.indexOf(this_id)>0 && query.indexOf(this_name)>0) {
					ontTreeMenu +="checked ";
				}
				ontTreeMenu +="id='{\"uid\":\""+this_id+"\", \"value\":\""+this_name+"\"}'> ";
				ontTreeMenu +=this_name+"<span class=\"muted\" id=\"num_wf_ont_"+this_id+"\"> ("+this_count+") </span></li>";
			}
			ontTreeMenu+="</ul></li>";
	  }
	  $("#ont_listing").html(ontTreeMenu);	 
	});
}

function displayOntFilterOptions(query) {

}

</script>
<style>
.nav-header{
	color: #000000 !important;
}
.accordion {
    margin-bottom: 0px !important;
}
.nav-list, .nav-list ul, .nav-list ol {
    padding-left: 0px !important;
 	margin: 0px 0px 0px 0px;
}
#ont_listing ul{
	margin: 0px 0px 0px 10px;
}
#ont_listing li, #ont_listing ul li{
	list-style: none ;
}
input[type="radio"].ont_filter_selection,
input[type="checkbox"].ont_filter_selection  {
	margin: 0px 2px 5px 0px; !important;
}
#nav_split, #ont_search_header, #wf_search_header, #wf_attrib, #wf_hide {
	display: none;
}
.nav_search_header {
 	font-size: small;
	color: #999;
	font-style: italic;	
}
.user_sel {
	font-size:12px;
	font-style:italic;
	color:#390;
}
.type_sel {
	font-size:11px;
	color:#666;
	width: 80px;
	border: 1px thin #ddd;
	height: 22px;
	vertical-align: middle;
  	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;		
}
.sidebar-nav-title{
    color: #999;
    font-size: 17px;
    padding-bottom: 10px;
    padding-top: 6px;
}
table.sidebar-nav-table {
	font-size: 11px;
}
table.sidebar-nav-table tr{
	vertical-align: top;
}

table.sidebar-nav-table tr td {
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 5px;
}
table.sidebar-nav-table input.user_entry {
	border: 1px thin #ddd;
	height: 10px;
	line-height: 11px;
	width: 50px;
	font-size:12px;
	vertical-align: middle;
  	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;	
}
table.sidebar-nav-table  input.user_entry_wf {
	border: 1px thin #ddd;
	height: 10px;
	line-height: 11px;
	width: 125px;
	font-size:12px;
	vertical-align: middle;
  	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;	
}
input.user_entry_wf_sm{
	width: 60px !important;
}
#ont_listing ul li {
	font-size: 12px;
	font-weight: normal;	
}
#ont_listing ul li ul li {
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
}
#ont_listing ul li ul li ul li {
	font-size: 12px;
}
</style>
{% endblock %}
{% block workflows_active %} class="active" {% endblock %}
{% block container %}
    <div class="row-fluid">
   	<div class="span12" >
    <h4>MPO Workflows <input type="button" value="View all Workflows" class="btn btn-mini btn-info wf_filter_clear" /></h4>
    	<div class="row-fluid">
		<!-- left navigation menu span -->
        <div class="span3">
          <div class="well sidebar-nav">
                                          
                <!-- ontology list menu -->
           		<span class="sidebar-nav-title">Filter workflows: </span> 
                <span class="pull-right"><input type="button" value="Reset Filter" class="btn btn-mini btn-info wf_filter_clear" /></span><br />
                <ul class="nav-list">
                	<li id="ont_listing" class="nav-header" style="cursor:pointer;">

                    </li>
				</ul>                
          		<!-- workflow nav menu -->
                <table class="sidebar-nav-table">
                    <tr>
                    	<td>Time (Start)</td>
                        <td><input type="text" class="user_entry_wf" id="wf_date_val1" name="wf_date1" /></td>
                    </tr>
                    <tr>
                    	<td>Time (End)</td>
                        <td><input type="text" class="user_entry_wf" id="wf_date_val2" name="wf_date2" /></td>
                    </tr>
                    <tr>
                    	<td>Name</td>
                        <td><input type="text" class="user_entry_wf" id="wf_name_val" name="wf_name" /></td>
                    </tr>
                    <tr>
                    	<td>Description</td>
                        <td><input type="text" class="user_entry_wf" id="wf_desc_val" name="wf_description"  /></td>
                    </tr>
                    <tr>
                    	<td>Username</td>
                        <td><input type="text" class="user_entry_wf" id="wf_user_val" name="wf_username"  /></td>
                    </tr>
                    <tr>
                    	<td>Last Name</td>
                        <td><input type="text" class="user_entry_wf" id="wf_ln_val" name="wf_lname"  /></td>
                    </tr>
                    <tr>
                    	<td>First Name</td>
                        <td><input type="text" class="user_entry_wf" id="wf_fn_val" name="wf_fname"  /></td>
                    </tr>
                    <tr><td colspan=2>
                    <div style="display:inline">
                    <input type="submit" value="Filter Workflow" class="btn btn-mini btn-success" style="width: 100%" id="wf_filter_submit" /></td></tr>
                    </div>
                </table>

          </div><!--/.well -->
        </div><!--/span left navigation-->    
        
   	<!-- workflow table list span -->
		<div id="wf_table" class="span9">       

    	</div> <!-- end of span9 -->
    
    
    </div> <!-- end row fluid -->  
{% endblock %}
